{% extends 'steps/steps_base.html' %}
{% load steps_tags %}
{% load static %}

{% block title %}{{ step.title }}{% endblock title %}

{% block imports %}
  <link rel="stylesheet" href="{% static 'css/style_steps_interactive.css' %}">
  <style>
  </style>
{% endblock imports %}

{% block content %}

    <h2 style="margin:1rem" dir="auto">{{ step.title }}</h2>
    <div dir="auto" style="font-size:12px; color:#666; margin:0 1.5rem">{{ step.description|linebreaksbr }}</div>


<div id="block-container">
  {% include 'steps/_interactive_blocks.html' with block=current_block %}
</div>


<script>
document.addEventListener('click', async function(e) {
  // Continue button for Text/Image block
  if (e.target.matches('.next-button')) {
    const current = parseInt(e.target.dataset.current);
    const stepId = {{ step.id }};  // from context
    const next = parseInt(e.target.dataset.next)
    e.target.disabled=true;
    
    const response = await fetch(`/steps/interactive_step/${stepId}/blocks/${next}/`);
    const html = await response.text();
    document.getElementById('block-container').insertAdjacentHTML('beforeend', html);
    e.target.style.display = 'none';
    window.scrollBy({ top: 500, behavior: 'smooth' });
  }

  // Option button for QuestionBlock
  if (e.target.matches('.option-btn')) {
    const btn = e.target;
    const responseText = btn.dataset.response;
    const next = btn.dataset.next;
    const current = btn.dataset.current;
    const stepId = {{ step.id }};

    // Show response text
    const responseElem = document.createElement('div');
    responseElem.className = `option-response option-response-${btn.dataset.color}`;
    responseElem.dir="auto";
    responseElem.innerText = responseText;
    btn.parentElement.parentElement.appendChild(responseElem);

    // Disable all options in current block
    btn.closest('.question-block').querySelectorAll('.option-btn').forEach(b => b.disabled = true);

    // Fetch and render next block
    const res = await fetch(`/steps/interactive_step/${stepId}/blocks/${next}/`);
    const html = await res.text();
    document.getElementById('block-container').insertAdjacentHTML('beforeend', html);
    window.scrollBy({ top: 500, behavior: 'smooth' });

  }
});
</script>

{% endblock content %}
