{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />

    <title id="title">{% block title %}{% endblock title %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icon//favicon-16x16.png' %}">

    <link href="{% static 'css/style_doctors.css'%}" rel="stylesheet">
    <style>
        body {
            display: flex;
            flex-direction: column;
            font-family: 'Baloo Bhaijaan 2' !important; 
            margin: 0;
            min-height: 100vh;
        }
    </style>
    {% block imports %}{% endblock imports %}
    
</head>

<body dir="rtl" style="" class="text-gray-900 pr-6 pl-6">

    <!-- Header -->
    <header>
        <div>
            <h1 class="text-2xl font-bold mb-4">
                دکتر {{doctor.name}} <span style="font-size:14px"></span>
                <div style="display: inline-block">
                    <a href="#"><img src="{% static 'images/buttons/user.png' %}" class="icon" alt="user" /></a>
                    <a href="{% url 'patients_list' %}"><img src="{% static 'images/buttons/list.svg' %}" class="icon" alt="list" /></a>

                    <form method="post" action="{% url 'logout' %}" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" style="background-color: transparent; border: none;">
                            <img src="{% static 'images/buttons/logout.png' %}" class="icon" alt="logout" />
                        </button>
                    </form>
                </div>
            </h1>
            <h3 class="text-l font-bold">{{doctor.title}}</h3>

        </div>
        <div class="text-gray-600 text-m">
            <p id="todayDate" style="font-family: system-ui;"></p>
        </div>
        <div>
            <img src="{% static '/images/Logo with Typo Light.svg' %}" alt="Sponsor Logo" class="h-10">
            <p style="text-align: center;">پشتیبان سلامت شما</p>
        </div>
    </header>
    {% block content %}
    {% endblock content %}
</body>
</html>
