{% extends 'doctors/base.html' %}
{% load static %}

{% block title %}
    {{ patient.personal_id }} |
{% endblock title %}

{% block imports %}    
    <script src="{% static './scripts/ChartJS.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <style>
        html{
            display: flex
        }
        body {
            width: 210mm;
            margin: auto;
        }
        
        #miniChartsSection{
            display: grid; 
            grid-template-columns: 1fr 1fr;
            width: 80%; 
            margin: auto;
        }
        #mainChartSection{
            display:grid; 
            width: 80%; 
            margin: 3rem auto;
                min-height: 40vh;

        }
        .addNew{
            margin-right: 0.25rem;
        }
        .chartToggleBtn {
            background: linear-gradient(135deg, #6e8efb, #a777e3);
            width: 180px;
            text-align: center;
            color: white;
            border: none;
            padding: 7px 10px;
            border-radius: 25px;
            font-size: 16px;
            cursor: pointer;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: all 0.3s ease;
            line-height: normal;
            margin-bottom: 10px;
        }

        .chartToggleBtn:hover {
            background: linear-gradient(135deg, #5d7de8, #9666d3);
            transform: translateY(-2px);
            box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        }

        .chartToggleBtn:active {
            transform: translateY(0);
        }

        @media (max-width: 1000px) {
            #mainChartSection{
                width: 80%; 
                margin: auto;
            }
            #mainChart{
                max-widtth:80%;
                
            }
            #miniChartsSection{
                    width: 80%; 
            }
            .miniCharts{
                max-widtth:80%;
            }
        }
        @media (max-width: 700px){
            header{ 
                flex-direction: column;
                gap: 0.5rem;
            align-items: start;}
        }

        @page {
            size: A4;
            margin: 1rem
        }
        @media print {
            size: A4;
            .sheet-outer.A4 {                 
                width: 210mm 
            }
            .addNew{
                display:none;
            }
            .icon{
                display:none;
            }
            .consRecomBoxes{
                display:none;
            }

            #miniChartsSection{
                    grid-template-columns: 1fr 1fr;
                    width: 80%;
                    margin-top: 2rem;
                    min-height: 40vh;
            }

            #mainChart{
                margin: 4rem auto 2rem auto;
                max-height: 40vh
                max-width: 90%
            }
            miniCharts{
                width: 40%;
            }
            .chartToggleBtn{
                display:none;
            }
        }
        .recomBox{
            margin-top: 0.5rem;
            width: 100%;
            background-color: transparent;
            text-align: justify;
            font-size: 16px;
            min-height: 30mm;
            font-family: 'Baloo Bhaijaan 2';
        }
        .consider {
            display: inline-block;
            background-color: #f6f6f6;;
            padding: 0.25rem 1rem;
            border: solid 1px #999;
            border-radius: 50px;
            margin: 0.5rem 0.1rem;
        }
        .recom{
            cursor: pointer;
            box-shadow: 0 0 2px 0px #999;
            transition: 0.3s;
        }
        .recom:hover{
            background-color: #fff;
            box-shadow: 0 0 0px 0px transparent;

        }
        .consRecomBoxes{
            margin: 1rem 0;
            background-color: #eee;
            padding: 1rem;
            border-radius: 10px;
            font-family: 'Baloo Bhaijaan 2';
        }
        .table .tCell {
            text-align: center;
            vertical-align: middle;
            padding: 0.5rem 0.5rem;
        }
        .table th {
            padding: 0.5rem 0.25rem;
        }
    </style>
    {% endblock imports %} 
{% block content %}
    <!-- Patient Info -->
    <section class="border-b pb-4">
        <p class="text-lg m-2 mt-4">بیمار: <span class="font-medium">{{patient.name}}</span>&nbsp;&nbsp;
            <span style="color: #6e6e6e; font-size: 16px;">{{patient_age}}</span>
        </p>
        <p style="margin-top: 0.5rem;">
            <a href="{% url 'patient_update' patient.personal_id %}" class="addNew">ویرایش مشخصات بیمار</a>

            <a href="{% url 'corc_patient' %}" class="addNew">ثبت بیمار جدید</a>
            <a href="{% url 'zscore' patient.personal_id %}" class="addNew">ثبت دادۀ جدید برای کودک</a>
            <a href="{% url 'patients_list' %}" class="addNew">لیست بیماران</a>
            <button class="addNew" onclick="window.print();" dir="ltr">Print	&#128424;&#65039;</button>
            
        <p id="ehsan"></p>

        </p>

    </section>

    <!-- Main Chart -->
    <section id="mainChartSection" style="display:grid">
        <span id="chartToggle" class="chartToggleBtn">
            ⇄ <span class="toggle-icon">نمایش Z Scoreها</span>
        </span>
        <canvas id="mainChart" dir="rtl" width=""></canvas>
        <canvas id="altChart" dir="rtl" width=""></canvas>

    </section>

    <!-- Mini Charts -->
    <section id="miniChartsSection" style="" class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div><canvas class="miniCharts" id="heightChart"></canvas></div>
        <div><canvas class="miniCharts" id="weightChart"></canvas></div>
        {% if patient.get_age_months <= 36 %}
            <div><canvas class="miniCharts" id="hcChart"></canvas></div>
            {% if is_wl %}
                <div><canvas class="miniCharts" id="wflChart"></canvas></div>
            {% elif patient.get_age_months >= 24 %}
                <div><canvas class="miniCharts" id="bmiChart"></canvas></div>
            {% endif %}
        {% else %}
            {% if is_wl %}
                <div><canvas class="miniCharts" id="wflChart"></canvas></div>
            {% endif %}
            {% if patient.get_age_months >= 24 %}
                <div><canvas class="miniCharts" id="bmiChart"></canvas></div>
            {% endif %}
        {% endif %}        

    </section>
<p id="Alat"></p>
    <!-- Table Section -->
    <section>
        <h2 class="text-xl font-semibold mt-6 mb-2">Z-Scoreها و مقادیر اندازه‌گیری شده در {{recent_records|length}} ویزیت اخیر</h2>
        <div id="tableCont" style="">
            <table class="table" style="margin: 1rem auto">
                <thead>
                    <tr>
                        <th class="" rowspan="2">تاریخ</th>
                        <th class="" colspan="2">وزن</th>
                        <th class="" colspan="2">قد</th>
                        {% if is_wl %}
                            <th class="" colspan="2">وزن برای قد</th>
                        {% endif %}
                        {% if patient.get_age_months >= 24 %}
                            <th class="" colspan="2">BMI</th>
                        {% endif %}
                        {% if patient.get_age_months <= 36%}
                        <th class="" colspan="2">دور سر</th>
                        {% endif %}
                    </tr>
                    <tr dir="auto">
                        <th class="">Value</th>
                        <th class="">Z-Score (%)</th>
                        <th class="">Value</th>
                        <th class="">Z-Score (%)</th>
                        {% if is_wl %}
                            <th class=""><abbr title="وزن صدک پنجاه برای این قد">میانگین</abbr></th>
                            <th class="">Z-Score (%)</th>
                        {% endif %}
                        {% if patient.get_age_months >= 24 %}
                            <th class="">Value</th>
                            <th class="">Z-Score (%)</th>
                        {% endif %}
                        {% if patient.get_age_months <= 36%}
                            <th class="">Value</th>
                            <th class="">Z-Score (%)</th>
                        {% endif %}

                    </tr>
                </thead>
                <tbody dir="ltr">
                    {% for r in recent_records %}
                    <tr>
                        <td class="tCell" dir="rtl">{{r.date}}</td>
                        <td class="tCell">{{r.weight}}kg</td>
                        <td class="tCell">{{r.weight_z}} ({{r.weight_p}})</td>
                        <td class="tCell">{{r.height}}cm</td>
                        <td class="tCell">{{r.height_z}} ({{r.height_p}})</td>
                        {% if is_wl %}
                        <td class="tCell"> {{r.wl_p50}} kg</td>
                        <td class="tCell">{{r.wl_z}} ({{r.wl_p}})</td>
                        {% endif %}
                        {% if patient.get_age_months >= 24 %}
                        <td class="tCell">{{r.bmi}}</td>
                        <td class="tCell">{{r.bmi_z}} ({{r.bmi_p}})</td>
                        {% endif %}
                        {% if patient.get_age_months <= 36 %}
                            {% if r.hc == 0 %}
                                <td class="tCell">-</td>
                                <td class="tCell">-</td>
                            {% else %}
                                <td class="tCell">{{ r.hc|default_if_none:"- " }}cm</td>
                                <td class="tCell">{{r.hc_z}} ({{r.hc_p}})</td>
                            {% endif %}
                        {% endif %}


                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </section>

    <!-- Recommendation Box -->
    <section dir="ltr" class="mt-6" style="margin:2rem 1.5rem;">
    {% if considerations %}
        <details dir="rtl" class="consRecomBoxes">
            <summary>در نظر داشته باشید:</summary>
            {% for key, value in considerations.items %}
                {% if value %}
                    <div style="margin-top: 0.75rem;">            
                    <h4>{{ key }}:</h4>
                        {% for v in value %}
                            <span class="consider">{{v}}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </details>
    {% endif %}
    {% if recommendations %}
        <details dir="rtl" class="consRecomBoxes">
            <summary>می‌توانید توصیه کنید:</summary>
            <p>با کلیک بر روی هر مورد، آن را به  باکس توصیه‌ها اضافه کنید.</p>
            {% for key, value in recommendations.items %}
                {% if value %}
                <div style="margin-top: 0.75rem;">
                    <h4>{{ key }}:</h4>
                    {% for v in value %}
                        <span class="consider recom" onclick="addToTextrea.call(this)">{{v}}</span>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
        </details>
    {% endif %}

        <div dir="" style="background-color: #f2f2f2; border-radius: 10px; padding: 1rem; margin-bottom:1rem; min-height: 50mm">
            <h3 class="text-lg font-semibold mb-2" dir="rtl">توصیۀ پزشک:</h3>
            <!-- <textarea class="w-full h-32 p-4 border rounded" placeholder="Type your notes here..."></textarea> -->
            <div>
                <p contenteditable="true" class="m-2 p-4" style="text-align: justify; display: none;"></p>
                <form method="post">
                    {% csrf_token %}
                    <textarea dir="rtl" name="recommendation_text" id="recomTextarea" class="recomBox" value="" required>{{ last_recom }}</textarea>
                    <button type="submit" class="addNew" dir="ltr" style="padding-top: 0.35rem; margin: 0;">&#128190; Save Recommendation</button>
                </form>
            </div>
        </div>

        {% comment %} {{ recommendations }} {% endcomment %}
        {% comment %} {{ considerations }} {% endcomment %}
        <button class="addNew" onclick="window.print();" dir="" style="padding-top: 0.35rem">Print &#128424;&#65039;</button>

    </section>

    <!-- Scripts -->
    <script id="chart-data" type="application/json">
        `{{ all_zscores.|safe }}`

    </script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButton = document.getElementById('chartToggle');
        const mainChart = document.getElementById('mainChart');
        const altChart = document.getElementById('altChart');
        mainChart.style.display = 'none';
        altChart.style.display = 'block';
        // Initialize state - mainChart visible, altChart hidden
        let isMainChartVisible = false;
        
        toggleButton.addEventListener('click', function() {
            if (isMainChartVisible) {
            // Switch to altChart
                mainChart.style.display = 'none';
                altChart.style.display = 'block';

            } else {
            // Switch to mainChart
                mainChart.style.display = 'block';
                altChart.style.display = 'none';
            }
            
            // Toggle the state
            isMainChartVisible = !isMainChartVisible;
            
            // Optional: Update button text if desired
            toggleButton.querySelector('.toggle-icon').textContent = isMainChartVisible ? 'نمایش منحنی وزن' : 'نمایش Z Scoreها';
        });
        });
    </script>
    <script>
        const dateOptions = {
            year: "numeric",
            month: "long",
            day: "numeric",
        };
        // Today's date
        document.getElementById('todayDate').textContent = new Date().toLocaleDateString("fa-EG", dateOptions);
        document.getElementById('title').textContent += new Date().toLocaleDateString("zh-Hans-CN", {year: "numeric",month: "numeric",day: "numeric"},
        );

        const all_zscores = JSON.parse(`{{ all_zscores|escapejs }}`);
        const alt_chart = JSON.parse(`{{ alt_chart|escapejs }}`);
        const kidData = JSON.parse(alt_chart.kid_data);
        const cleanKidData = kidData.map(val => val === "-" ? null : val);


        if (all_zscores.labels.length < 3) { 
            const mainChart = new Chart(document.getElementById('mainChart'), {
            type: 'bar',
            data: {
                labels: all_zscores.labels,
                datasets: [{
                    label: 'Weight Z-Score',
                    data: all_zscores.weight_z,
                    backgroundColor: `#441752`,
                    fill: false,
                }, {
                    label: 'Height Z-Score Summary',
                    data: all_zscores.height_z,
                    backgroundColor: `#4dc9f6`,
                    fill: false,
                }, {
                    label: 'BMI Z-Score',
                    data: all_zscores.bmi_z,
                    backgroundColor: `#f564a9`,
                    fill: false,
                },{
                    label: 'Head Circumference Z-Score',
                    data: all_zscores.hc_z,
                    backgroundColor: `#FCC201`,
                    fill: false,
                }]
            },
        });
        } else {
        const mainChart = new Chart(document.getElementById('mainChart'), {
            type: 'line',
            data: {
                labels: all_zscores.labels,
                datasets: [{
                    label: 'Weight Z-Score',
                    data: all_zscores.weight_z,
                    //backgroundColor: `rgba(34, 197, 94, 0.8)`,
                    fill: false,
                }, {
                    label: 'Height Z-Score Summary',
                    data: all_zscores.height_z,
                    //backgroundColor: `rgba(197, 34, 94, 0.8)`,
                    fill: false,
                }, {
                    label: 'BMI Z-Score',
                    data: all_zscores.bmi_z,
                    //backgroundColor: `rgba(34, 94, 197, 0.8)`,
                    fill: false,
                },{
                    label: 'Head Circumference Z-Score',
                    data: all_zscores.hc_z,
                    //backgroundColor: `rgba(34, 94, 197, 0.8)`,
                    fill: false,
                },{
                    label: 'Weight for Length',
                    data: all_zscores.wl_z,
                    //backgroundColor: `rgba(34, 94, 197, 0.8)`,
                    fill: false,
                }]
            },
        });
        }
        const altChart = new Chart(document.getElementById('altChart'), {
            type: 'bar',
            data: {
                labels: alt_chart.agemos,
                datasets: [{
                    type: 'line',
                    label: 'P3',
                    data: alt_chart.p3,
                    borderColor: `rgb(255, 99, 132)`,
                    backgroundColor: `rgba(255, 99, 132, 0.2)`,
                    fill: false,
                    tension: 0.4,
                    borderWidth: 1.5,
                    pointStyle: false,
                }, {
                    type: 'line',
                    label: 'P5',
                    data: alt_chart.p5,
                    borderColor: 'rgb(255, 159, 64)',
                    backgroundColor: 'rgba(255, 159, 64, 0.2)',
                    fill: false,
                    tension: 0.4,
                    borderWidth: 1.5,
                    pointStyle: false,
                }, {
                    type: 'line',
                    label: 'P10',
                    data: alt_chart.p10,
                    borderColor: 'rgb(255, 205, 86)',
                    backgroundColor: 'rgba(255, 205, 86, 0.2)',
                    fill: false,
                    tension: 0.4,
                    borderWidth: 1.5,
                    pointStyle: false,
                },{
                    type: 'line',
                    label: 'P25',
                    data: alt_chart.p25,
                    borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    fill: false,
                    tension: 0.4,
                    borderWidth: 1.5,
                    pointStyle: false,
                },{
                    type: 'line',
                    label: 'P50',
                    data: alt_chart.p50,
                    borderColor: 'rgb(153, 102, 255)',
                    backgroundColor: `rgba(153, 102, 255, 0.2)`,
                    fill: false,
                    tension: 0.4,
                    borderWidth: 1.5,
                    pointStyle: false,
                },{
                    type: 'line',
                    label: 'P75',
                    data: alt_chart.p75,
                    borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    fill: false,
                    tension: 0.4,
                    borderWidth: 1.5,
                    pointStyle: false,
                },{
                    type: 'line',

                    label: 'P90',
                    data: alt_chart.p90,
                    borderColor: 'rgb(255, 205, 86)',
                    backgroundColor: 'rgba(255, 205, 86, 0.2)',
                    fill: false,
                    tension: 0.4,
                    borderWidth: 1.5,
                    pointStyle: false,
                },{
                    type: 'line',
                    label: 'P95',
                    data: alt_chart.p95,
                    borderColor: 'rgb(255, 159, 64)',
                    backgroundColor: 'rgba(255, 159, 64, 0.2)',
                    fill: false,
                    tension: 0.4,
                    borderWidth: 1.5,
                    pointStyle: false,
                },{
                    type: 'line',
                    label: 'P97',
                    data: alt_chart.p97,
                    borderColor: `rgb(255, 99, 132)`,
                    backgroundColor: `rgba(255, 99, 132, 0.2)`,
                    fill: false,
                    tension: 0.4,
                    borderWidth: 1.5,
                    pointStyle: false,
                },{
                    type: 'bar',
                    label: 'Weight',
                    data: cleanKidData,
                    borderColor: 'rgb(54, 162, 235)',
                    borderWidth: 1,
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    fill: false,
                    borderRadius: 50,
                }
                    ]
            },
            
            options: {
                    scales: {
                        y: {
                            beginAtZero : false,
                            offset: false
                        },
                        x: {
                            offset: true
                        }
                    },
                    plugins: {
                        legend: {
                            position: 'top',
                        },
                        title: {
                            display: true,
                            text: 'Based on CDC Weight Percentiles'
                        }
                    },
                }
        });
        const lastVisits = JSON.parse(`{{ last_visits|escapejs }}`);
        const isWl = `{{ is_wl|yesno:"true, false" }}`

        var miniType = 'line'
        var miniOpac = 0.2

        const createMiniChart = (ctxId, label, data, labels, color) => {
            //if (data.filter(item => item !== null).length < 2){
            if (data.filter(Boolean).length < 2) {
                miniType = 'bar'
                miniOpac = 0.8
            }
            return new Chart(document.getElementById(ctxId), {
                type: miniType,
                data: {
                    labels: labels,
                    datasets: [{
                        label,
                        data,
                        borderColor: `rgba(${color}, 1)`,
                        backgroundColor: `rgba(${color}, ${miniOpac})`,
                        fill: true,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            offset: true
                        },
                        x: {
                            offset: true
                        }
                    }
                }
            });
        };
        const createWfLChart = (ctxId, data_one, data_two, labels) => {
            return new Chart(document.getElementById(ctxId), {
                type: 'bar',
                data: {
                    labels: labels,
                    
                    datasets: [
                        {
                            type: 'bar',
                            label: 'Kid Weight for Length',
                            data: data_one,

                            fill: true,
                            order: 2

                        },
                        {
                            type: 'line',
                            label: 'Weight P50 for Length',
                            data: data_two,

                            fill: true,
                            order: 1,
                        },
                    ]
                },
                options: {
                    scales: {
                        y: {
                            offset: true
                        },
                        x: {
                            offset: true
                        }
                    },
                    plugins: {
                        legend: {
                            labels: {
                                // This more specific font property overrides the global property
                                font: {
                                    family: '',
                                    weight: '600'
                                }
                            },
                            
                        }
                    }
                }
            });
        };
        createMiniChart('weightChart', 'Weight (kg)', lastVisits.weight, lastVisits.labels, '34, 197, 94');
        createMiniChart('heightChart', 'Height (cm)', lastVisits.height,lastVisits.labels, '197, 34, 94',);

        {% if patient.get_age_months <= 36 %}
            createMiniChart('hcChart', 'HC', lastVisits.hc,lastVisits.labels, '197, 94, 34');
            {% if is_wl %}
                createWfLChart('wflChart', lastVisits.weight, lastVisits.wl_p50, lastVisits.height);
            {% elif patient.get_age_months >= 24 %}
                createMiniChart('bmiChart', 'BMI', lastVisits.bmi, lastVisits.labels, '34, 94, 197');
                
            {% endif %}
        {% else %}
            {% if is_wl %}
                createWfLChart('wflChart', lastVisits.weight, lastVisits.wl_p50, lastVisits.height);
            {% endif %}
            {% if patient.get_age_months >= 24 %}
                createMiniChart('bmiChart', 'BMI', lastVisits.bmi, lastVisits.labels, '34, 94, 197');
            {% endif %}
        {% endif %}
        

    </script>
    <script>
        function addToTextrea(){
            const textarea = document.getElementById('recomTextarea');
            textarea.value += (textarea.value ? '\n' : '') + this.innerText;
            textarea.focus();
        }
    </script>

{% endblock content %}
