{% extends 'doctors/base.html' %}
{% load static %}
{% load tags %}

{% block title %}
    {{ patient.personal_id }} |
{% endblock title %}

{% block imports %}    
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    
    <style>
        
        #miniChartsSection{
            display: grid; 
            grid-template-columns: 1fr 1fr;
            width: 70%; 
            margin: auto;
        }
        #mainChartSection{
            display:flex; 
            width: 70%; 
            margin: 3rem auto;
        }

        @media (max-width: 1000px) {
            #mainChartSection{
                display:flex; 
                width: 80%; 
                margin: auto;
            }
            #mainChart{
                max-widtth:80%;
                
            }
            #miniChartsSection{
                    grid-template-columns: 1fr;
                    width: 80%; 
            }
            .miniCharts{
                max-widtth:80%;
            }
        }
        @media (max-width: 700px){
            header{ 
                flex-direction: column;
                gap: 0.5rem;
            align-items: start;}
        }
        .addNew{
            display: inline-block; padding: 0.5rem; color: #666; border: solid 1px #aaa; border-radius: 5px; margin-right: 2rem; transition: 0.3s
        }
        .addNew:hover{
            background-color: #ddd
        }
        #tableCont{
            display: flex;
            overflow-x: scroll;
        }
    .icon{
        width: 20px;
        display: inline;
        margin-right:0.5rem;
        transition: 0.3s;
        cursor: pointer;
        opacity: 0.80;

    }
    .icon:hover{
        opacity: 1.0;
    }
    .recomsBox{
        padding: 1rem;
        background-color: #f2f2f2;
        border-radius: 10px;
        margin-bottom: 0.5rem;
        box-shadow: 0px 1px 2px 0 #999;
    }
    .recomsBox span{
        color: #666;
        font-size: 14px;

    }
    </style>
{% endblock imports %}

    {% block content %}
    <!-- Patient Info -->
    <section class="border-b pb-4">
        <p class="text-lg m-2 mt-4 mb-4">بیمار: <span class="font-medium">{{patient.name}}</span>&nbsp;&nbsp;
            <span style="color: #6e6e6e; font-size: 16px;">{{patient_age}}</span>
        </p>
        <p style="margin-top: 0.5rem">
            <a href="{% url 'patient_update' patient.personal_id %}" class="addNew">ویرایش مشخصات بیمار</a>
            <a href="{% url 'corc_patient' %}" class="addNew">ثبت بیمار جدید</a>
            <a href="{% url 'zscore' patient.personal_id %}" class="addNew">ثبت دادۀ جدید برای کودک</a>
            <a href="{% url 'patients_list' %}" class="addNew">لیست بیماران</a>
            <a href="print/" class="addNew">صفحۀ چاپ اطلاعات</a>
        </p>
        
    </section>

    <!-- Main Chart -->
    <section id="mainChartSection" style="">
        <canvas id="mainChart" dir="rtl" width=""></canvas>
    </section>

    <!-- Mini Charts -->
    <section id="miniChartsSection" style="" class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <div><canvas class="miniCharts" id="heightChart"></canvas></div>
        <div><canvas class="miniCharts" id="weightChart"></canvas></div>
        <div><canvas class="miniCharts" id="bmiChart"></canvas></div>
        <div><canvas class="miniCharts" id="bmiChart"></canvas></div>

    </section>
<p id="Alat"></p>
    <!-- Table Section -->
    <section>
        <h2 class="text-xl font-semibold mt-6 mb-2">Z-Scoreها و مقادیر اندازه‌گیری شده در {{recent_records|length}} ویزیت اخیر</h2>
        <div id="tableCont" style="">
            <table class="table" style="margin: 1rem auto">
                <thead>
                    <tr>
                        <th class="" rowspan="2">تاریخ</th>
                        <th class="" colspan="2">وزن</th>
                        <th class="" colspan="2">قد</th>
                        <th class="" colspan="2">BMI</th>
                    </tr>
                    <tr dir="auto">
                        <th class="">Value</th>
                        <th class="">Z-Score (%)</th>
                        <th class="">Value</th>
                        <th class="">Z-Score (%)</th>
                        <th class="">Value</th>
                        <th class="">Z-Score (%)</th>

                    </tr>
                </thead>
                <tbody dir="ltr">
                    {% for r in recent_records %}
                    <tr>
                        <td class="tCell" dir="rtl">{{r.date}}</td>
                        <td class="tCell">{{r.weight}}kg</td>
                        <td class="tCell">{{r.weight_z}} ({{r.weight_p}})</td>
                        <td class="tCell">{{r.height}}cm</td>
                        <td class="tCell">{{r.height_z}} ({{r.height_p}})</td>
                        <td class="tCell">{{r.bmi}}</td>
                        <td class="tCell">{{r.bmi_z}} ({{r.bmi_p}})</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <!-- Recommendation Box -->
    <section class="mt-6 mb-6" style="">
    {% for recom in recoms %}
        <div class="recomsBox">
            <span>{{ recom.add_date|j_date:"name, long"}}</span>
            <p>{{ recom.text }}</p>
        </div>
    {% endfor %}
    </section>
    <section class="mt-6" style="display: none;">
        <h3 class="text-lg font-semibold mb-2">توصیۀ پزشک:</h3>
        <!-- <textarea class="w-full h-32 p-4 border rounded" placeholder="Type your notes here..."></textarea> -->
        <div>
            <p contenteditable="true" class="m-2 p-4"></p>
        </div>
    </section>

    <!-- Scripts -->
    <script id="chart-data" type="application/json">
        `{{ all_zscores.|safe }}`

    </script>
    <script>
        const dateOptions = {
            year: "numeric",
            month: "long",
            day: "numeric",
        };
        // Today's date
        document.getElementById('todayDate').textContent = new Date().toLocaleDateString("fa-EG", dateOptions);
        document.getElementById('title').textContent += new Date().toLocaleDateString("zh-Hans-CN", {year: "numeric",month: "numeric",day: "numeric"},
        );

        const all_zscores = JSON.parse(`{{ all_zscores|escapejs }}`);

        // Sample Chart.js data for demo

        if (all_zscores.labels.length < 3) { 
            const mainChart = new Chart(document.getElementById('mainChart'), {
            type: 'bar',
            data: {
                labels: all_zscores.labels,
                datasets: [{
                    label: 'Weight Z-Score',
                    data: all_zscores.weight_z,
                    backgroundColor: `#441752`,
                    fill: false,
                }, {
                    label: 'Height Z-Score Summary',
                    data: all_zscores.height_z,
                    backgroundColor: `#4dc9f6`,
                    fill: false,
                }, {
                    label: 'BMI Z-Score',
                    data: all_zscores.bmi_z,
                    backgroundColor: `#f564a9`,
                    fill: false,
                }]
            },
        });
        } else {
        const mainChart = new Chart(document.getElementById('mainChart'), {
            type: 'line',
            data: {
                labels: all_zscores.labels,
                datasets: [{
                    label: 'Weight Z-Score',
                    data: all_zscores.weight_z,
                    //backgroundColor: `rgba(34, 197, 94, 0.8)`,
                    fill: false,
                }, {
                    label: 'Height Z-Score Summary',
                    data: all_zscores.height_z,
                    //backgroundColor: `rgba(197, 34, 94, 0.8)`,
                    fill: false,
                }, {
                    label: 'BMI Z-Score',
                    data: all_zscores.bmi_z,
                    //backgroundColor: `rgba(34, 94, 197, 0.8)`,
                    fill: false,
                }]
            },
        });
        }
        const lastVisits = JSON.parse(`{{ last_visits|escapejs }}`);
        var miniType = 'line'
        var miniOpac = 0.2
        if (lastVisits.labels.length < 2){
            miniType = 'bar'
            miniOpac = 0.8
        }
        const createMiniChart = (ctxId, label, data, color) => {
            return new Chart(document.getElementById(ctxId), {
                type: miniType,
                data: {
                    labels: lastVisits.labels,
                    datasets: [{
                        label,
                        data,
                        borderColor: `rgba(${color}, 1)`,
                        backgroundColor: `rgba(${color}, ${miniOpac})`,
                        fill: true,
                    }]
                }
            });
        };

        createMiniChart('weightChart', 'Weight (kg)', lastVisits.weight, '34, 197, 94');
        createMiniChart('heightChart', 'Height (cm)', lastVisits.height, '197, 34, 94');
        createMiniChart('bmiChart', 'BMI', lastVisits.bmi, '34, 94, 197');
    </script>
{% endblock content %}
