asgiref==3.8.1
charset-normalizer==3.4.0
crispy-bootstrap5==0.6
Django==4.0.10
django-crispy-forms==1.13.0
django-polymorphic==3.1.0
idna==3.10
isodate==0.7.2
jalali_core==1.0.0
jdatetime==5.2.0
Markdown==3.6
pillow==10.2.0
python-dateutil==2.9.0.post0
requests==2.32.3
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.3
