<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>medepartout | About</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="./images/icon/favicon.ico">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100..900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="{% static 'css/about.css' %}">

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icon/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">
  </head>
    
<body>

<div class="my-container">

  <div class="stars"></div>
  <div class="twinkling"></div> 
  <div class="clouds"></div>

    <div class="top-container">  
      <div class="intro">
        <h1>ABOUT US</h1>
        <h2 class="english-introduction">Share your knowledge. Enjoy writing limitlessly, learn from others and go beyond the borders!</h2>
        <h2 dir="rtl" class="farsi introduction">این پلتفرم برای علاقه‌مندان علوم پزشکی و به ویژه پزشکی طراحی شده است. در اینجا تلاش می‌کنیم مرزهای فیزیکی را پاک کنیم و از سرتاسر دنیا، دانش پزشکی خود را به اشتراک بگذاریم و بهبود ببخشیم.</h2>
      </div>
    
    </div>

    <div class="middle-container">

      <div class="reyhaneh">
        <h2>Welcome to medepartout</h2>
        <div class="pastiera">
        <img class="geek image" src="{% static 'images/about/geek.jpg' %}" alt="reyhaneh">
        <p class="reyhaneh english text">Join the learners! Learn from the experts. Walk us through your journey in medicine.</p >
        <br>
        <h2 dir="rtl" class="farsi head">به مدپارتو خوش آمدید! </h2>
        <p dir="rtl" class="farsi text">مسیری که در پزشکی می‌گذرانید را با دیگر همسفرهای خود به اشتراک بگذارید؛ تا از تجارب هم یاد بگیریم و به همدیگر بیاموزیم.</p>
        </div>
      </div>

      <div class="hrs"><br></div>

      <div class="hx">
        
        <h2><a href="{% url 'hx_list' %}">Hx</a></h2>
        <div class="pastiera">
        <img class="hx image" src="{% static 'images/about/hx.png' %}" alt="picture of a medical history sheet">
        <p class="hx english text">Our first app "Cases app" is a platform for you to walk us through your journey. Let others in Healthcare community (or simply The Medic Geeks 🕶️) see medicine through your eyes.</p>
        <br>
        <p dir="rtl" class="farsi text">نخستین بخشی که در وبسایت راه‌اندازی شده Cases نام دارد و بستری را برای همرسانی شرح‌حال‌ها، تصاویر و یادداشت‌های آموزندۀ پزشکی است. تلاش کرده‌ایم که فضای ویژه‌ای برای این موارد آماده کنیم تا آن را به شبکه‌های اجتماعی رایج ترجیح دهید. </p>
      </div>
      </div>

      <div class="hrs"><br></div>

      <div class="picasso">
        
        <h2><a href="{% url 'picasso_list' %}">Picasso</a></h2>
        <div class="pastiera">
        <img class="picasso image" src="{% static 'images/about/camera.jpg' %}" alt="picture of a camera">
        <p class="picasso english text"> Picasso is literally for us to see what you've seen in healthcare.</p>
        <br>
        <p dir="rtl" class="picasso farsi text">بخش پیکاسو برای به اشتراک گذاشتن تصاویر دنیای درمان. </p>
        <p dir="rtl" class="picasso farsi text">گاهی با تظاهرات بالینی و یا تصاویر رادیولوژیکی مواجه می‌شویم که برایمان جالب است و یا بسیار تیپیک می‌تواند نشانگر بیماری‌های خاصی باشد. در این بخش می‌توانید این تصاویر را از هر نوعی که باشند (گرافی، MRI، ECG، و هر مورد بالینی دیگری) را با دیگران به اشتراک بگذارید.</p>
        </div>

      </div>

      <div class="hrs"><br></div>

        <div class="ex">
        
        <h2><a href="{% url 'ex_list' %}">EX</a></h2>  
        <div class="pastiera">
        <img class="ex" src="{% static 'images/about/ex.png' %}" alt="picture of a journal">
        <p class="ex english text">
          In EX (Notes of Experiences) we talk about our days as health care practitioners. Without any limits, without any censorship share with us your point of view as a part of health care community.</p>
        <br>
        <p dir="rtl" class="ex farsi text">در بخش ای-اکس صحبت کنید! بدون فیلتر، بدون مرز، از روز هایتان در کادردرمان بگویید. برداشت هایتان، گلایه ها و دیدگاهتان را با دیگران به اشتراک بگذارید.</p>
        </div>

      </div>

      <div class="hrs"><br></div>
        
      <div class="contact">

          
        <h2>Get In Touch</h2>
        <div class="pastiera contact">
        <img class="contact image" src="{% static 'images/about/email.png' %}" alt="picture of a mail ">
        <p class="contact english text">If you are passionate about this platform enhance it by giving us feedbacks! We'd love to hear from you!</p>
        <br>
        <p dir="rtl" class="contact farsi text">برای ارتباط با ما می‌توانید به ایمیل contact@mdpt.ir نامه بزنید.</p>
        </div>

      </div>
      
      
    </div>

    <div class="bottom-container">
      <div class="with">
        <a href="{% url 'home' %}">Home</a></li>
        <!---<a href="https://medepartout.ir/about">Contact us</a></li>-->
        <a href="{% url 'cases_main' %}">Cases App</a></li>
        <a href="{% url 'docs_list' %}">Docs</a></li>
        <a href="{% url 'about' %}">About</a></li>
      </div>

      <hr>

      <p>medepartout | All Right Reserved © 2024</p>
  </div>

  
</div> 


</body>
</html>
