{% extends 'base.html' %}
{% load static %}
{% block title %} | Cases{% endblock title %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/style_tw.css' %}">

    <style>

    </style>

  <main dir="ltr" class="">
    
    <header class="">
      <h2 class="">What will you <span>write</span> today?</h2>
      <h3 class="">Medepartout makes it easy to write, present and share medical cases.</h3>
    </header>
<div id="mainCont">
  <div id="add-your-case">
    <h3 class="mainSubt">Add Your Case</h3>
    <div id="add-your-case-inner-box">
      <a href="{% url 'self_user_cases'%}">
        <div class="add-yours-images">
            <img id="intImg" src="{% static './images/cases_main/writing.jpg'%}" alt="Initial Image" class="">
            <img id="hovImg" src="{% static './images/cases_main/graph.jpg'%}" alt="Hovered Image" class="">
        </div>
      </a>
  
        <div id="subImgTextBox">
          <a class="linkedTxt" href="{% url 'hx_new' %}">
            <p id="subImgText">Make Your Presentation</p>
          </a>
        </div>     
    </div>
  </div>

    <div id="publicHxs">
      <h3 class="mainSubt">Public HXs</h3>
      <div id="hxsDiv">
        {% for hx in hxs %}
        <a href="{% url 'hx_detail' hx.slug %}">  
        <div class="hxCard">               
            <div class="hxTitleBox">
               <p dir="rtl">
                {{hx.title}}
               </p>
            </div>
              
              <p class="hxDesc" dir="rtl">
                {% if hx.description%}
                {{hx.description}}
                {% endif %}
              </p>
              
            <p class="hxAuthor">
<!--                 {% if hx.author.en_name%} -->
                {{ hx.author.first_name }} {{ hx.author.last_name }} 
<!--                 {% else %} -->
<!--                 {{ hx.author.fn_fa }} {{ hx.author.ln_fa }} {% endif %} -->
                | {{hx.author.degree}}
            </p> 
        </div>
          </a>
            {% endfor %}
      </div>
      <div>
        <a class="loadMore" href="{% url 'hx_list' %}">Load more</a>
      </div>

  </div>


</div>


    {% if not user.is_authenticated %}
    <!-- subscribe -->
    <hr id="hrSubs"/>      

    <div id="subscribeDiv">
      <img src="{% static './images/cases_main/subscribe.png'%}" alt="medepartout subscribe button">
      <h3>Get the best of Medepartout features for yourself!</h3>
      <div id="subsBtnCont">
        <a href="{% url 'signup'%}">
          <div class="subsBtn">Sign UP</div>
        </a>
        <a href="{% url 'login'%}">
            <div class="subsBtn">Log IN</div>
        </a>
      </div>
    </div>
    {% endif %}
  </main>
    {% endblock content %}
