{%extends "base.html"%}
{% load my_tags %}
{% load static %}
{% block title %} | Docs{% endblock title %}
{% block desc %}مستندات مربوط به بخش‌های مختلف سایت را در اینجا بخوانید.{% endblock desc %}

{% block content %}
<div class="pad-15">
    <br/>
<h2>مستندات و آموزش کار با سایت</h2>
<br/>
<div class="blogCont">
    {% for doc in doc_list reversed %}
    <div class="blog-post">
        <div class="blog-post-title">
            <h4>{{doc.title}}<h4>
        </div>
        <div class="blog-post-text">
                <p>{{doc.text | markdown | safe }}</p>
        </div>
    </div>
    {% endfor %}
</div>
</div>
    
{% endblock content %}