<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 29 Apr 2002 8:35:00 GMT">
    <title>medepartout</title>
    <meta name="description" content="مدوپارتو | سرک‌کشی به گوشه‌های پزشکی"/>
    <link rel="stylesheet" href="{% static '/css/styles_RP.css' %}">
    
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icon/favicon-16x16.png' %}">
    <link rel="manifest" href="/site.webmanifest">

    <link href='https://fonts.googleapis.com/css?family=Noto Sans' rel='stylesheet'>

<style>
.image-section {
    background-image: url({% static 'images\frog.jpg' %});}
</style>

</head>
<body>
<div class="container">
    <div class="text-section">
        <div class="head">
            <img id="dawsh-help" src="{% static '/images/Logo Color FFAA80.svg' %}" alt="medepartout-logo">
            <h1>Welcome to medepartout Website</h1>
            <h2>The Site is Under Construction</h2>
            
        </div>
        {% if user.is_authenticated %}
        <p>Hi <b>{{user.first_name}}</b>! Proceed to Cases App, Use Medical Caculators or Your Personal Cases List!</p>
        <div style="margin-bottom: 1rem;">
            <a href="{% url 'cases_main' %}" class="mainPageBtn">Cases App</a>
            <a href="{% url 'calculus_main' %}" class="mainPageBtn" style="display:none">Calculus App</a>
            <a href="{% url 'dashboard' %}" class="mainPageBtn">Dashboard</a>
        </div>
        {%else%}
        <h2 style="margin:10px 0">
            <a href="{% url 'cases_main' %}" class="mainPageBtn" id="casesApp">Cases App</a>
            <a href="{% url 'calculus_main' %}" class="mainPageBtn">Calculus App</a>
        </h2>        
        <p>Sign up to see our latest updates:</p>
        <div class="butt">
            <a href="{% url 'signup' %}"><button id="b1">Sign Up</button></a>
            <a href="{% url 'login' %}"><button id="b2">Log In</button></a>
        </div>
        {% endif %}
        <div class="footer">
            <div class="with">
                <a href="{% url 'cases_main' %}">Cases App</a>
                <a href="{% url 'calculus_main' %}">Calculus App</a>
                {% comment %} <a href="{% url 'docs_list' %}">Docs</a> {% endcomment %}
                <a href="{% url 'about' %}">About</a>
            </div>
            <p>medepartout | All Right Reserved © 2025</p>           

        </div>
    </div>
    <div class="image-section"></div>
</div>

</body>
</html>
