{%extends "base.html"%}
{% load my_tags %}
{% load static %}
{% block desc %}اخبار مربوط به آپدیت‌های سایت را به همراه آموزش بخش‌های مختلف، در اینجا مطالعه کنید.{% endblock desc %}
<title>medepartout | Blog</title>
{% block content %}
<div class="blogCont">
    {% for post in post_list reversed %}
    {% if post.visible %}
    <div class="blog-post">
        <div class="blog-post-title">
            <h4>{{post.title}}<h4>
        </div>
        <div class="blog-post-date" dir="ltr">{{post.date | date:"j M Y"}}</div>
        <div class="blog-post-text">
            {%if post.is_md %}
                <p>{{post.text | markdown | safe }}</p>
            {%else%}
                <p>{{post.text | linebreaks}}</p>
            {%endif%}
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
    
{% endblock content %}
