    .ros-phe-ttl-ppr {
        color: #007;
        text-decoration: underline 1px;
        font-weight: bold;
        font-size: 1.1rem;
        margin: 8px 0 5px 0;
    }
    
    .red-txt-ros-phe {
        color: #d22;
        font-weight: bold;
    }
    /* Hx Detail Pedi Styles */
    
    .infoTablePedi {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1.75rem;
        margin: 1rem 0;
        padding: 10px;
    }
    
    @media(max-width:650px) {
        .infoTablePedi {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    .bgPedi {
        background: rgb(255, 110, 127);
        background: linear-gradient(15deg, rgba(255, 110, 127, 0.3) 0%, rgba(191, 233, 255, 0.4) 100%) !important;
    }
    /* End Hx Detail Pedi Styles */

    @media print {
        .noPrint{
            display:none;
        }
        .btn{
            display:none;
        }
    }
    /* BackTo Buttons Styles */
    
    #backTo a {
        margin-right: 0.25rem;
        background-color: #f6f6f6;
        border-radius: 30px;
        padding: 2px;
        padding-right: 12px;
        border: solid 1px #ccc;
        color: #999;
        font-size: 12px;
        text-decoration: none;
        transition: 0.3s;
    }
    
    #backTo a:hover {
        background-color: #e2e2e2;
        color: #666;
    }
    
    #backTo a:hover span {
        background-color: #d3d3d3;
    }
    
    #backTo span {
        border-radius: 30px;
        padding: 0 8px;
        background-color: #e7e7e7;
        transition: 0.3s;
    }
    /* End BackTo Buttons Styles */
