.helper-toggle-button {
    background-color: #FFAA80;
    font-size: 16px;
    padding: 0px 20px;
    border: 2px solid #1F132B;
    border-radius: 20px;
    margin-bottom: 10px;
    color: #1F132B;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
}

.helper-toggle-button:hover {
    background-color: #FFAA99;
    border: 2px solid #55132B;
    box-shadow: 3px 3px 0px 0px #aaa;
    color: #55132B;
    padding: 5px 25px;
    border-radius: 25px;
}

.helperCloseBtn {
    display: inline-block;
    background-color: #c33;
    color: white;
    padding: 2px;
    font-weight: 600;
    border-radius: 4px;
    width: 25px;
    text-align: center;
}

.helperCloseBtn:hover {
    background-color: #b44;
}

.ROSTab {
    display: none;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.ROSTab span {
    background-color: inherit;
    float: right;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 7px 14px;
    transition: 0.3s;
    font-size: 17px;
}

.ROSTab span:hover {
    background-color: #ddd;
}

.ROSTab span.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 10px 10px;
}

.tabTitle {
    display: inline-block;
    margin-left: 15px;
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 7px 12px;
    transition: 0.5s;
    cursor: pointer
}

.tabTitle:hover {
    background-color: #ddd;
}

.phraseTitle {
    margin-bottom: 20px;
}

.phrase-container {
    margin-bottom: 20px;
}

.phrase-container .pn {
    margin-left: 10px;
    background-color: #ddd;
    border: none;
    border-radius: 4px;
    margin: 3px;
    min-height: 30px;
    text-align: center;
    min-width: 30px;
    cursor: pointer;
}

.tablinks.active {
    font-weight: bold;
}

.optionButton {
    display: inline-block;
    margin: 2px 2px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

.optionButton:hover {
    background-color: #e0e0e0;
    border-color: #bbb;
}

.optionButton:active {
    background-color: #d0d0d0;
    border-color: #aaa;
}

.phraseButton {
    display: inline-block;
    margin: 2px 0;
    border: none;
    cursor: pointer;
    background-color: #f9f9f9;
    padding: 5px 10px;
    transition: 0.5s;
    border-radius: 10px;
    font-weight: bold;
}

.phraseButton:hover {
    background-color: #e0e0e0;
}

.phrase-container-bot-border {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
