            .noto-sans arabic {
                font-family: "Noto Sans Arabic", sans-serif;
                font-optical-sizing: auto;
                font-style: normal;
                font-variation-settings: "wdth" 100;
            }
            
            body {
                margin: 0;
                font-family: "Noto Sans Arabic", sans-serif;
            }
            
            .myHeader {
                /* grid-area: header; */
                font-weight: 600;
                font-size: 20px;
                background-color: #29abe2;
                color: white;
                position: fixed;
                order: 1000;
                height: 80px;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 6fr 1fr 1fr;
                grid-template-rows: 1fr;
                gap: 10px;
                /* padding: 10px 0px 0px 10px; */
                align-items: center;
                justify-content: center;
                box-shadow: 0px 5px 10px 0px gray;
            }
            
            .text-left {
                text-align: left;
            }
            
            .text-right {
                text-align: right;
            }
            
            .text-center {
                text-align: center;
                justify-content: center;
                align-items: center;
            }
            
            .menu {
                padding-left: 20px;
            }
            
            .header-logo {
                font-size: 20px;
                font-weight: 400;
                /* display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px; */
                align-items: center;
            }
            
            #logoName {
                font-size: 20px;
            }
            
            #logoHeader {
                width: 50px
            }
            
            .header-logo img {
                filter: invert(100%);
            }
            
            .header-logo a {
                text-decoration: none;
                color: white;
            }
            
            .header-logo a:hover {
                color: whitesmoke;
            }
            
            .login a {
                color: white;
                text-decoration: none;
                font-size: 20px;
                font-weight: 400;
            }
            
            .login a:hover {
                color: whitesmoke
            }
            
            .signup a {
                color: white;
                text-decoration: none;
                font-size: 20px;
                font-weight: 400;
            }
            
            .signup a:hover {
                color: whitesmoke
            }
            
            .userIcon img {
                filter: invert(100%);
            }
            
            .font-300 {
                font-weight: 300;
            }
            
            .font-20 {
                font-size: 16px;
            }
            
            .myMain {
                grid-area: main;
                padding: 15px;
                background-color: #fcfcfc;
                margin-top: 100px;
                order: -1;
            }
            
            .breakToThree {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
            
            .myFooter {
                grid-area: footer;
                background-color: #705697;
                width: 100%;
                color: white;
            }
            
            footer {
                background-color: #705697;
            }
            
            .myContainer {
                display: grid;
                /* grid-template-columns: 10% 80% 10%; */
                grid-template-rows: auto 60px;
                grid-template-areas: "main" "footer";
            }
            
            .butn {
                display: inline-block;
                text-decoration: none;
            }
            
            .add {
                background-color: navy;
                color: white;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                text-align: center;
                justify-items: center;
                font-size: 37px;
                font-weight: 300;
                left: 30px;
                bottom: 30px;
                box-shadow: 0px 0px 10px 1px gray;
                ;
            }
            
            .add:hover {
                background-color: rgb(0, 0, 160);
                color: whitesmoke
            }
            
            .comment {
                background-color: #eee;
                border-radius: 5px;
                padding: 10px;
                margin: 10px 5px;
                box-shadow: 0px 0px 1px 0.1px #333;
            }
            
            .commentDetail {
                color: #666;
                font-size: 14px;
            }
            
            .myCard {
                background-color: #efefef;
                border-radius: 20px;
                margin: 10px;
                padding: 5px;
                box-shadow: 0px 0px 5px 0px #aaa;
/*                 min-width: 400px; */
                max-width: 500px;
            }
            
            .myCard:hover {
                box-shadow: 1px 1px 6px 0px #aaa;
                .cardDetail {
                    box-shadow: 0px 0px 3px 0px #bbb;
                    ;
                }
            }
            
            .cardDetail {
                background-color: #fafafa;
                border-radius: 20px;
                margin: 7px;
                padding: 10px;
                /* position: absolute; */
                /* bottom: 10px; */
            }
            
            .caseLink {
                color: black;
                text-decoration: none;
                display: contents;
                min-width: 400px;
                max-width: 500px;
            }
            
            .caseLink:hover {
                color: #444
            }
            
            .caseTitle {
                font-weight: 600;
                font-size: 32px;
                margin: 10px
            }
            /* Copy */
            
            .paper {
                background-color: #eee;
                border-radius: 10px;
                padding: 15px 10px;
                display: grid;
                width: 100%;
                display: grid;
                column-gap: 3px;
                grid-template-columns: 1fr 1fr;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
            }
            
            .infoTable {
                padding: 10px;
                display: grid;
                grid-template-columns: 0.6fr 1fr 0.6fr 1fr 1fr;
                /* gap: 5px; */
                flex-direction: row;
                flex-basis: 70px;
                flex-wrap: wrap;
            }
            
            .cell {
                border-style: hidden solid hidden solid;
                border-color: #ddd;
                border-width: 0.5px;
                text-align: center;
            }
            
            .hx {
                background-color: #f9f9f9;
                padding: 10px;
                margin: 5px 10px;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
            
            a.float {
                margin: 5px 20px;
                width: 110px;
            }
            
            .vital {
                background-color: #ffe0e0;
                padding: 10px;
                margin: 5px 10px;
                border-radius: 10px;
                display: grid;
                column-gap: 3px;
                row-gap: 5px;
                grid-template-columns: 0.6fr 1fr;
/*                 grid-row: span 2; */
                box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
            }
            
            vsText {
                border-style: hidden hidden solid hidden;
                border-color: #2e2e2e;
                border-width: 0.5px;
            }
            
            .spanTwo {
                grid-column: span 2;
            }
            
            .myHR {
                border: 2px solid #ddd;
            }
            
            button.fix {
                position: fixed;
                bottom: 50px;
                left: 50px;
            }
            
            textarea {
                height: 150px
            }
            
            .createForm {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 5px;
            }
            
            .spanFour {
                grid-column: span 4;
            }
            /* 
@media (max-width: 600px) {
    img.logo {
        margin: 0 7px;
        position: fixed;
        top: 15px
    }
    .myContainer {
        display: grid;
        grid-template-columns: 15% 85%;
        grid-template-rows: auto;
        grid-template-areas: "sidebarLeft  header" "sidebarLeft  sidebarRight" "sidebarLeft main" "sidebarLeft  footer";
    }
    .sidebarRight {
        grid-area: sidebarRight;
        background-color: #f1fff1;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 5px;
    }
    .editDelete {
        background-color: none;
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: center;
        bottom: 5px;
        border-radius: 5px;
    }
    .editDelete a {
        width: 80%;

margin: 5% 10% 0% 10%;


font-size: 12px;
text-align: center;

}
.paper {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    display: grid;
    width: 100%;
    column-gap: 3px;
    grid-template-columns: 1fr 0.4fr;
}
.hx {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 5px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.vital {
    background-color: #ffe0e0;
    padding: 10px;
    margin: 5px 5px;
    border-radius: 5px;
    display: flex;
    row-gap: 5px;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

}
*/
            
            @media (max-width: 600px) {
                .myHeader {
                    /* grid-area: header; */
                    font-weight: 600;
                    font-size: 16px;
                }
                #logoHeader {
                    width: 30px;
                }
                #logoName {
                    font-size: 16px;
                }
                .breakToThree {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                }
                .caseLink {
                    width: 95%;
                    display: block;
                }
                .myCard {
                    background-color: #efefef;
                    border-radius: 20px;
                    margin: 5px;
                    padding: 5px;
                    box-shadow: 0px 0px 5px 0px #aaa;
                    /* width: 80% */
                }
                .myCard:hover {
                    box-shadow: 1px 1px 6px 0px #aaa;
                    .cardDetail {
                        box-shadow: 0px 0px 3px 0px #bbb;
                    }
                }
                        
                .paper {
                    background-color: #eee;
                    border-radius: 10px;
                    padding: 15px 10px;
                    width: 100%;
                    display: block;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
                }
                .infoTable {
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    /* gap: 5px; */
                 }
                .caseLink {
                    color: black;
                    text-decoration: none;
                    display: block;
                    min-width: 250px;
                    max-width: 450px;
                }
            }
