#cc_ai_btn_output_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aiBtn {
    border: none;
    margin: 0.5rem;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
    padding: 0;
    background-color: #29ABEE;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: 2px 2px 0 1px #1d6a9d;
}

.rlAI {
    padding: 10px;
    border: solid #fff 2px;
    width: 20px;
    height: 20px;
    transition: 1s ease;
    border-radius: 0px;
    position: absolute;
    box-sizing: content-box;
}


/* border-image-source: linear-gradient(to right, #ff0060, #f6fa70, #00dfa2, #0079ff); */

.rightAI {
    width: 15px;
    height: 15px;
}

.textAIBtn {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-align: center;
    transition: 0.5s;
    line-height: normal;
    position: relative;
    bottom: 3px;
    left: 2px;
}

.aiBtn:hover {
    box-shadow: 0 0 0 0 #1d6a9d;
    .rlAI {
        z-index: 1;
        height: 50px;
        border-radius: 300px;
    }
    .rightAI {
        width: 20px;
        transform: translate(3px, -2px) rotate(45deg);
    }
    .leftAI {
        transform: translate(-3px, 2px) rotate(-45deg);
    }
    .textAIBtn {
        opacity: 0;
        font-family: sans-serif;
        color: #fff
    }
}

#cc_terminology_input {
    margin: auto;
    width: 70%;
    padding: 7px 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 25px;
    background-color: #eee;
    color: #444;
    font-weight: 600;
    opacity: 1;
    transition: 1s;
    line-height: 0.5rem;
}

.ai_p {
    background-color: #f7f7f7;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
    padding: 5px;
    color: #777;
    border-radius: 30px;
}

#floatingDiv {
    position: fixed;
    left: 0;
    right: 0;
    top: 100vh;
    background: linear-gradient(30deg, #f6fa70, #00dfa2, #0079ff);
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.4);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform 0.5s ease-in-out;
    transform: translateY(-75px);
    min-height: 12vh;
    /* max-height: 70vh; */
    overflow: auto;
}

#pullUpBar {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
    color: white;
    top: 0;
    padding: 10px;
    text-align: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
    position: sticky;
    z-index: 10;
}

#aiResponse {
    border: none;
    padding: 15px;
    color: #373533;
    background-color: #fffbed;
    /* min-height: 43vh; */
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #d2c8a2 #fffbed;
    z-index: 3;
    height: 43vh;
    /* overflow-y: auto; */
}

#pullText {
    transition: 0.5s;
    font-weight: 600;
    font-size: 20px;
    margin: 0.5rem;
}

.aiReqMsg {
    margin: 0.7rem 3rem 0.7rem 0.5rem;
    border: 1px solid rgb(0, 121, 255);
    color: rgb(0, 42, 88);
    /* color: rgb(0, 121, 255); */
    background-color: rgba(0, 121, 255, 0.1);
}

.aiRespMsg {
    margin: 0.7rem 0.5rem 0.7rem 3rem;
    border: 1px solid rgb(0, 223, 162);
    color: rgb(0, 88, 42);
    /* color: rgb(0, 121, 255); */
    background-color: rgba(0, 223, 162, 0.1);
}

.aiMsg p {
    margin: 0.375rem;
    padding: 5px 7px;
    text-align: justify;
}

.aiMsg {
    line-height: 1.65rem;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 400;
    transition: 0.5s;
}

.aiErrorMsg {
    margin: 0.7rem 5rem 0.7rem 3.75rem;
    border: 1px solid rgb(255, 0, 96);
    color: rgb(88, 42, 42);
    /* color: rgb(0, 121, 255); */
    background-color: rgba(255, 0, 96, 0.1);
    line-height: 1.5rem;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    transition: 0.5s;
}

.aiErrorMsg p {
    margin: 0.375rem;
    padding: 0 10px;
    text-align: center;
}

#aiDescription {
    color: rgb(139, 139, 139);
    text-align: center;
    font-size: 12px;
    margin-bottom: 20px;
}


/* Less margins for smartphones view: */

@media (max-width: 500px) {
    .aiRespMsg {
        margin: 0.7rem 0rem;
    }
    .aiReqMsg {
        margin: 0.7rem 0rem
    }
}


/* Let's add some animation while loading thanks to chat-gpt*/

.spinnerCont {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(139, 139, 139);
    font-weight: bold;
    text-align: center;
    padding: 20px;
    flex-direction: column;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    color: rgb(60, 60, 60);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin-bottom: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
