{% extends 'base.html' %}
{% load static %}
{% block title %} | {{calculi.html_title}} {%endblock title%}
{% block desc %}{{calculi.title}}{% endblock desc%}

{% block imports %}
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 29 Apr 2002 8:35:00 GMT">
    <meta name="keywords" content="{{calculi.html_title}}, child growth, medical calculator">
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "name": "{{calculi.html_title}}",
        "description": "An online tool for calculating Head Circumference Z-score and percentile based on CDC standards.",
        "url": "https://medepartout.ir/calculus/calculi/{{calculi.link}}_page/"
    }
    </script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_calculi.css' %}">

    <script src="{% static 'scripts/Calculi.js'%}"></script>

    
    <style>
        .myMain {
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(45deg, rgba(255, 110, 127, 0.6) 0%, rgba(191, 233, 255, 0.8) 100%);
            flex-direction: column;
        }

        .myFooter {
            background-color: #66899c;
        }

    </style>
{% endblock imports %}

{% block content %}
    <h2 class='title' style='margin: 3rem' dir='ltr'>
        {{calculi.title}}
        <a href="../../calcate/{{calculi.category.link}}" id="category">{{calculi.category}}</a>           
        {% if user.is_authenticated %}
            <span id="likeBtn" 
                    data-calculink="{{ calculi.link }}"
                    data-action="{% if request.user in calculi.likes.all %}unlike{% else %}like{% endif %}"
                    class="{% if request.user in calculi.likes.all %}liked{% else %}unliked{% endif %}">
                    &#x2764;
            </span>
        {% endif %}
    </h2>
    <div class="floatingCal" dir="ltr">
        <div class="gender-switch">
            <button id="gender-switch-btn">Male</button>
        </div>
        <div class="weight-input">
            <label for="hc" style="font-size:14px;">Circumference:</label>
            <input type="number" id="hc" min="20" max="70" value="48.8"  step="1">
        </div>
        <div class="age-input">
            <label for="years">Years:</label>
            <input type="number" id="years" min="0" max="3" step="1" value="2">
        </div>
        <div class="age-input">
            <label for="months">Months:</label>
            <input type="number" id="months" min="0" max="11.5" step="0.5" value="0">
        </div>
    
        <img src="{% static '/images/calculi/calculate_btn_2.png' %}" height='39' id="calculate-btn" alt='calculate button'/>
        <div id="chartContainer" style="grid-column: span 2;">
            <div class="highlightContainer">
              <div class="" id="chart"></div>
              <div class="highlightOverlay" id="highlightOverlay"></div>
        
            </div>
            <div class="valueMarker" id="valueMarker"></div>
            <div class="" id="midMarker"></div>
        </div>
        <div id="resCopyDiv">
            <div id="result-box"></div>
            <div>
                <button class="copyBtn" id="copy-btn" onclick="copyZScore()">Copy Z&P</button>
                <button class="copyBtn" id="copy-btn-all" onclick="copyZScoreHCPecentile()">Copy All</button>
            </div>
        </div>
    </div>

    <div style="margin: 1.5rem" dir='ltr'>
        <h5 dir="ltr" style="margin-bottom: 1rem; color: #555">Other Calculus:</h5>
        {% for link in relatedLinks%}
            <a href="../{{link.link}}_page/" class="calculusLinks">{{link.html_title}}</a>
        {% endfor %}
    </div>
    
    <details style="" dir="ltr"><summary>About this calculator</summary>
        <p>This calculator uses data from the CDC Growth Charts Data Files <a href="https://www.cdc.gov/growthcharts/cdc-data-files.htm">(Open)</a> to assess growth Z Scores.
            The percentiles are calculated using Z-scores, with reference to a Z-score table prepared by the The Department of Mathematics at the University of Arizona <a href="https://math.arizona.edu/~rsims/ma464/standardnormaltable.pdf">(Download)</a>.
        </p>
    </details>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            likeCalculi(
                document.getElementById('likeBtn'),
                '{% url "calculi_like" %}',
                '{{ csrf_token }}'
            );
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            genderSwitch('gender-switch-btn');
        });

        const calculateBtn = document.getElementById('calculate-btn');
        const resultElement = document.getElementById('result-box');

        let zScore = null;

        calculateBtn.addEventListener('click', calculateHCZScore);

        document.addEventListener('keydown', function(event) {

            if (event.key === 'Enter') {
                calculateHCZScore();
            }
        });      
    </script>

{% endblock content %}
