{% extends "hx/_sep_page_base.html" %}
{% block imports %}
    {{ block.super }}
    <style>
        #caseForm > div {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        #caseForm div:has(#id_fh){
            grid-column: span 2;
        }
    </style>
{% endblock imports %}

{% block content %}
<h2>سایر بخش‌های شرح حال</h2>
<p style="margin: -1rem 2rem 1rem 2rem; color: slategrey">داروها و حساسیت‌ها، اجتماعی و عادات، بیماری‌های خانواده</p>
{{ block.super }}
{% endblock %}
