{% extends "base.html" %}
{%load humanize%}
{% load static %}
{% block content %}
<div id="hx" class="">
    <div class="hxTitle">
        <a href="{% url 'hx_list'%}">
        <h2 style="font-weight:800">Hx</h2>
        <p>Histories and Physical Examinations</p>
        </a>
    </div>
{% for case in hxs %}
{% if case.verified and case.slug %}

    <div class="myCard">
        <a href="{% url 'hx_detail' case.slug %}" class="caseLink"><p class="caseTitle">{{ case.title }}</p></a>
<div dir="rtl" class="cardDetail">
    <a href="{% url 'hx_detail' case.slug %}" class="caseLink caseDesc"><p style="font-size:15px">{{ case.description|safe }}</p></a>
    <a href="{% url 'hx_detail' case.slug %}" style="text-align:right;" class="caseLink">
        <p dir="rtl" style="text-align:right; color:#666" class=""> 
        توسط <b>{{ case.author.first_name }} {{ case.author.last_name }}</b> {%if case.author.degree %}({{ case.author.degree }}) {%endif%}
        &emsp;<span dir="ltr" >{{ case.date_created|naturaltime}}</span>
</p></a>
    <p style="margin-bottom:5px" dir="ltr"><a href="{% url 'hx_detail' case.slug %}" class="caseLink">
        {% comment %} {{ case.followup|length }} Daily Note{{ case.followup|pluralize }} | {% endcomment %}
        {{ case.comment_set.all|length }} Comment{{ case.comment_set.all|pluralize }}</a> 
        <span>{% if user.username == case.author.username %}
            <a href="{% url 'hx_edit' case.slug %}">Edit</a> | 
            <a href="{% url 'hx_delete' case.slug %}">Delete</a>
            {% endif %}</span>

</p>
</div>
</div>

{% endif %}
{% endfor %}
<br/>
<div class="down">
    <a href="{% url 'hx_list'%}">
    <h5 dir="ltr" style="font-weight:600">Load More &#9654;</h5>
    </a>
</div>
<br/>
</div>

<div class="picasso">
    <div class="pics">
        <a href="{% url 'picasso_list'%}">
        <h2 style="font-weight:800">PICASSO</h2>
        <p>Cases in Pictures</p>
        </a>
    </div>
    <hr style="color:#fff"/>
{% for pica in picassos %}
{% if pica.verified %} 
    <div class="imageCard">
        <img src="{{ pica.image.url }}" width = '300' class="imgThumbnail" alt="{{pica.title}}"/>
        <div class="imgTitle">
            <a href="{% url 'picasso_detail' pica.slug %}">
                <h3>{{ pica.title }}</h3>
                <p class="desc">{{ pica.description }}</p>
                <p class="author">توسط <b></b>{{ pica.author.first_name }} {{ pica.author.last_name }}</b> 
                    {%if pica.author.degree %}({{ pica.author.degree }}) {%endif%}
<!--                 {{ pica.date_created|naturaltime}} -->
                    {% if user.username == pica.author.username %}
                        <a href="{% url 'picasso_edit' pica.slug %}">Edit</a>
                    {% endif %}
                </p>
            </a>
        </div>
    </div>
    <hr style="color:#fff"/>
{%endif%}
{% endfor %}
<br/>
<div class="downPic">
    <a href="{% url 'picasso_list'%}">
    <h5 dir="ltr" style="font-weight:600">Load More &#9654;</h5>
    </a>
    <br/>
</div>
</div>
{% endblock content %}
