{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/style_HxHelper.css' %}">
<link rel="stylesheet" href="{% static 'css/style_hx_new_edit.css' %}">

<style>    
    button {
        border: none;
        padding: 10px
    }
    h1{
        padding: 10px;
        margin-bottom: 20px;
    }
    #div_id_is_pedi{
        background: linear-gradient(15deg, rgba(255, 110, 127, 0.7) 0%, rgba(191, 233, 255, 0.7) 100%);
        padding: 0.5rem;
        border-radius: 20px;
        padding-right: 0.75rem;
    }
    .hidden {
        display: none;
    }
    
</style>
<div class="pad-15">
<h1>ویرایش</h1>
    <form action="" method="post" autocomplete="off">{% csrf_token %}
        <div class="createForm" style="margin:10px">
        {{ form|crispy }}
            <div class="text-center" style="justify-contents:center"><button class="btn btn-info" id="primaryButton" type="submit">بروزرسانی</button></div>
        </div>
    </form>
</div>

<script src="{% static '/scripts/Hx_Helper.js'%}"></script>
<script src="{% static '/scripts/Hx_Divs_Move.js'%}"></script>

<script>
    
    document.addEventListener("DOMContentLoaded", function() {
        moveElementsToNewDiv(movingDivsIds);
    });

    document.addEventListener("DOMContentLoaded", AddROSSection())
    document.addEventListener("DOMContentLoaded", AddPhESection())

</script>
<script>
    function AddWZScore() {
        const isPediCheckbox = document.getElementById('id_is_pedi');
        const labelForPmh = document.querySelector('label[for="id_pmh"]');
        if (!document.getElementById("toggle-WZS")){
        labelForPmh.insertAdjacentHTML('afterend', `
            <span id="toggle-WZS" style="">Calculate Z-Score</span>
            <div id='pmhHelpBox' dir='ltr' style=>
            <p dir="rtl" style="font-size: 14px; color:#999;">برای دسترسی به تمام ماشین‌حساب‌ها به <a href="{% url 'calculus_main' %}">این صفحه</a> مراجعه کنید.</p>
            <div style='display: inline-block'>
            <label for="weight" style="display: none;">وزن (kg):</label>
            <input type="number" id="weight" name="weight" min="0.5" max="300" step="0.1" value="10" required style="display: none;">
            <span id="calculate-button" class="calculateBtn">حساب کن</span>
            </div>
            <div style='display: inline-block'>
            <div id="answer-box"></div>
            <div id="add-to-pmh" class='addToPmh'>Add to PMH &darr;</div>
            </div></div>
        `);
        const pmhHelpBox = document.getElementById('pmhHelpBox')
    
        const calculateButton = document.getElementById('calculate-button');
        const toggleWZSBtn = document.getElementById('toggle-WZS');
        const answerBox = document.getElementById('answer-box');
        const addToPmhButton = document.getElementById('add-to-pmh');
        const weightInput = document.getElementById('weight');
        const weightLabel = document.querySelector('label[for="weight"]');
        const resultElement = answerBox;
    
        let zScore = null;
    
        isPediCheckbox.addEventListener('change', function() {
            const isChecked = isPediCheckbox.checked;
            toggleWZSBtn.style.display = isChecked ? 'inline-block' : 'none'; // Show toggle span only
            pmhHelpBox.style.display = 'none';
            addToPmhButton.style.display = 'none';
            calculateButton.style.display = 'none';
            weightLabel.style.display = 'none';
            weightInput.style.display = 'none';
            answerBox.style.display = 'none';
        });
    
        toggleWZSBtn.addEventListener('click', function() {
    
            const isVisible = weightLabel.style.display === 'inline';
            pmhHelpBox.style.display = isVisible ? 'none' : 'block';
            weightLabel.style.display = isVisible ? 'none' : 'inline';
            weightInput.style.display = isVisible ? 'none' : 'inline';
            calculateButton.style.display = isVisible ? 'none' : 'inline-block';
        });
    
        // Calculate Z-score
        calculateButton.addEventListener('click', function() {
            var ageY = parseFloat(document.getElementById('id_age').value);
            var ageM = parseFloat(document.getElementById('id_age_m').value);
            var gender_fa = document.getElementById('id_gender').value; // Gender
            var gender = '0';
            if (gender_fa == 'آقا') {
                gender = '1';
            } else if (gender_fa == 'خانم') {
                gender = '2';
            }
            var weight = parseFloat(document.getElementById('weight').value);
    
            // Validate inputs
            if (isNaN(ageY) || isNaN(ageM) || isNaN(weight)) {
                resultElement.textContent = 'Error: Please enter valid numbers for age and weight.';
                resultElement.style.background = 'red';
                return;
            }
    
            var totalAgeMonths = ageY * 12 + ageM;
            calculateButton.style.pointerEvents = 'none';
            calculateButton.style.opacity = '0.5';
            resultElement.textContent = 'Calculating...';
            resultElement.style.background = 'none';
    
            fetch(`../../../calculus/calculi/pedi_w_zscore/?gender=${gender}&age_months=${totalAgeMonths}&weight=${weight}`)
                .then(response => {
                if (!response.ok) {
                    // Parse the response body as JSON to extract the error message
                    return response.json().then(errorData => {
                        // Throw an error with the message from the API
                        throw new Error(`${errorData.error}`);
                    });
                }
                    return response.json();
                })
                .then(data => {
                    resultElement.textContent = `Z-Score: ${data.z_score}, Percentile: ${data.percentile}`;
                    resultElement.style.background = 'linear-gradient(90deg, #4CAF50, #2196F3)'; // Gradient for success
                    resultElement.style.display = 'inline-block';
                    addToPmhButton.style.display = 'inline-block';
                    zScore = data.z_score;
                    percentile=data.percentile
                })
                .catch(error => {
                    resultElement.textContent = `Error: ${error.message}`;
                    resultElement.style.background = 'red';
                    resultElement.style.display = 'inline-block';
                    addToPmhButton.style.display = 'none';
    
    
                })
                .finally(() => {
                    calculateButton.style.pointerEvents = 'auto';
                    calculateButton.style.opacity = '1';
                });
        });
    
        // Add Z-score to PMH
        addToPmhButton.addEventListener('click', function() {
            if (zScore !== null) {
                const pmhTextarea = document.getElementById('id_pmh');
                if (pmhTextarea) {
                    pmhTextarea.value += `Weight: ${weight.value} kg\n(Z-Score: ${zScore}, Percentile: ${percentile})\n`;
                }
            }
        });
    }
    };

</script>

<script>
    const checkbox = document.getElementById('id_is_pedi');
    const divJob = document.getElementById('div_id_job');
    const divMarriage = document.getElementById('div_id_marriage');
    const marriageState = document.getElementById('id_marriage')
    const divAgeM = document.getElementById('div_id_age_m');
    const age=document.getElementById('id_age')

    function TogglePediId() {
        if (checkbox.checked) {
            AddWZScore();
            divJob.classList.add('hidden');
            marriageState.value='مجرد'
            divMarriage.classList.add('hidden');
            divAgeM.style.display='block';
            if (age.value > 20) {
                age.value=10
            };
        
        } else {
            divJob.classList.remove('hidden');
            divMarriage.classList.remove('hidden');
            divAgeM.style.display='none'

        }
    };
    document.addEventListener('DOMContentLoaded', function() {
        TogglePediId();
        checkbox.addEventListener('change', TogglePediId);
    });

</script>
{% endblock content %}
