{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/style_HxHelper.css' %}">
<link rel="stylesheet" href="{% static 'css/style_hx_new_edit.css' %}">

<style>    
    button {
        border: none;
        padding: 10px
    }
    h1{
        padding: 10px;
        margin-bottom: 20px;
    }
    #div_id_is_pedi{
        background: linear-gradient(15deg, rgba(255, 110, 127, 0.7) 0%, rgba(191, 233, 255, 0.7) 100%);
        padding: 0.5rem;
        border-radius: 20px;
        padding-right: 0.75rem;
    }
    .hidden {
        display: none;
    }
    
</style>
<div class="pad-15">
<h1>ویرایش</h1>
    <form action="" method="post" autocomplete="off">{% csrf_token %}
        <div class="createForm" style="margin:10px">
        {{ form|crispy }}
            <div class="text-center" style="justify-contents:center"><button class="btn btn-info" id="primaryButton" type="submit">بروزرسانی</button></div>
        </div>
    </form>
</div>

<script src="{% static '/scripts/Hx_Helper.js'%}"></script>
<script src="{% static '/scripts/Hx_Divs_Move.js'%}"></script>

<script>
    
    document.addEventListener("DOMContentLoaded", function() {
        moveElementsToNewDiv(movingDivsIds);
    });

    document.addEventListener("DOMContentLoaded", AddROSSection())
    document.addEventListener("DOMContentLoaded", AddPhESection())

</script>
<script>
    const checkbox = document.getElementById('id_is_pedi');
    const divJob = document.getElementById('div_id_job');
    const divMarriage = document.getElementById('div_id_marriage');
    const marriageState = document.getElementById('id_marriage')
    const divAgeM = document.getElementById('div_id_age_m');
    const age=document.getElementById('id_age')


    checkbox.addEventListener('change', function() {
        if (this.checked) {
            divJob.classList.add('hidden');
            marriageState.value='مجرد'
            divMarriage.classList.add('hidden');
            divAgeM.style.display='block';
            if (age.value > 20) {
                age.value=10
            }
        } else {
            divJob.classList.remove('hidden');
            divMarriage.classList.remove('hidden');
            divAgeM.style.display='none'

        }
    });
</script>
{% endblock content %}
