{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}| New Hx{%endblock title%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/style_HxHelper.css' %}">
<link rel="stylesheet" href="{% static 'css/style_hx_ai.css' %}">

<style>
    #smaller-grid{
        padding: 1rem 0.5rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.125rem
    }

    @media (max-width: 600px) {
        #smaller-grid{
            padding: 1rem 0.5rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.125rem
        }
        .createForm {
            display: flex;
            gap: 5px;
            flex-direction: column;
        }
    }

    #input-id{
        margin: 2rem 0;
        border-radius: 1em; 
        padding:1rem; 
        background-color: #efefef;
    }
</style>

<div class="pad-15">
<h1>کیس جدید</h1>

<form action="" method="post">{% csrf_token %}
<div class="createForm" autocomplete="off">
    {{ form|crispy }}
    <button dir="ltr" class="btn btn-success" type="submit" id="save" style="height: 50px; margin-top: 2rem;" >ثبت</button>
</div>
    <details class="pad-15" style="margin-bottom:1rem">
        <summary style="font-size:16px; font-weight:600;">
            راهنمای افزودن تصاویر و آزمایش‌ها
        </summary>
        پس از ثبت مطلب خود، در صفحۀ مربوط به آن می‌توانید روی دکمه‌های  <span dir="ltr" class="btnLikeSummary">+ Images</span> و <span dir="ltr" class="btnLikeSummary">+ Lab Data</span> کلیک کنید.

    </details>

</form>

</div>

<script src="{% static '/scripts/Hx_Helper.js'%}"></script>
<script src="{% static '/scripts/Hx_Divs_Move.js'%}"></script>

{% comment %} {% if user.is_case_editor %} {% endcomment %}
<script>
    document.addEventListener("DOMContentLoaded", AddROSSection())
    document.addEventListener("DOMContentLoaded", AddPhESection())

    document.addEventListener("DOMContentLoaded", function() {
        moveElementsToNewDiv(movingDivsIds);
    });
</script>
{% comment %} {% endif %} {% endcomment %}

{% if user.hx_cc_ai_permission %}
    <script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"></script>
    <script src="{% static 'scripts/Hx_AI.js' %}"></script>
    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
    
    <script>
        document.addEventListener("DOMContentLoaded", AddCCAI())
    </script>
{% endif %}

{% endblock content %}

{% block edel %}
    <a href="{% url 'doc_detail' 2%}" class="btn btn-warning" style="width: 75px;" target="_blank">آموزش</a>
    <button dir="ltr" class="btn btn-success" type="submit" onclick="document.getElementById('save').click()" style="margin: 0 5px; width: 75px;">ثبت</button>
{% endblock edel%}
