{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}| New Hx{%endblock title%}

{% block imports %}
    <META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
    <META HTTP-EQUIV="EXPIRES" CONTENT="Mon, 29 Apr 2002 08:35:00 GMT">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_HxHelper.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_hx_ai.css' %}">
    <link rel="stylesheet" href="{% static 'css/style_hx_new_edit.css' %}">

    <style>        
        .spinnerLogo {
            background-image: url({% static 'images\Logo Prime.svg' %});
        }

        #edel{
            bottom: auto;
            top:60px; 
            z-index: 2;
            display: block;
            opacity: 0.3;
        }
        #mainContent{
            margin-bottom:2rem;
        }
        
        .helperDivs {
            display: block;
            margin-right: 1rem;
            line-height: 3;
        }
        .AIHelperBtn {
            margin-right: 0px;
        }
        #tabs-container{
            line-height: 1.8;
        }
    </style>
    
{% endblock imports %}

{% block content %}
{% comment %} <button dir="ltr" class="btn btn-success" type="submit" id="" style="height: 50px; margin-top: 2rem;" onclick="ROSAI()" >Create</button> {% endcomment %}

<div class="pad-15" id="mainContent">
<h1>کیس جدید</h1>

<form action="" method="post">{% csrf_token %}
<div class="createForm" autocomplete="off">
    {{ form|crispy }}
    <button dir="ltr" class="btn btn-success" type="submit" id="save" style="height: 50px; margin-top: 2rem;" >ثبت</button>
</div>
    <details class="pad-15" style="margin-bottom:1rem">
        <summary style="font-size:16px; font-weight:600;">
            راهنمای افزودن تصاویر و آزمایش‌ها
        </summary>
        پس از ثبت مطلب خود، در صفحۀ مربوط به آن می‌توانید روی دکمه‌های  <span dir="ltr" class="btnLikeSummary">+ Images</span> و <span dir="ltr" class="btnLikeSummary">+ Lab Data</span> کلیک کنید.
    </details>
</form>
</div>

<script src="{% static '/scripts/Hx_Helper.js'%}"></script>
<script src="{% static '/scripts/Hx_Divs_Move.js'%}"></script>

<script>
    
    document.addEventListener("DOMContentLoaded", AddROSSection())
    document.addEventListener("DOMContentLoaded", AddPhESection())

    document.addEventListener("DOMContentLoaded", function() {
        moveElementsToNewDiv(movingDivsIds);
    });
</script>

<input type="hidden" id="csrf_token" value="{{ csrf_token }}">

{% if user.hx_cc_ai_permission %}
<script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"></script>
<script src="{% static 'scripts/Hx_AI.js' %}"></script>

<script>
    document.addEventListener("DOMContentLoaded", AddCCAI());
</script>
{% endif %}

{% if user.hx_pi_ai_permission %}
<script src="https://cdn.jsdelivr.net/npm/markdown-it@13.0.1/dist/markdown-it.min.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", AddPIAI());
    document.addEventListener("DOMContentLoaded", CreatePullUp());
</script>
{% endif %}

{% if user.hx_ros_ai_permission %}
<script>
    document.addEventListener("DOMContentLoaded", AddROSAI());
</script>
{% endif %}

{% if user.hx_phe_ai_permission %}
<script>
    document.addEventListener("DOMContentLoaded", AddPhEAI());
</script>
{% endif %}

<script>
    function TogglePediId() {
        const checkbox = document.getElementById('id_is_pedi');
        const divJob = document.getElementById('div_id_job');
        const divMarriage = document.getElementById('div_id_marriage');
        const marriageState = document.getElementById('id_marriage')
        const divAgeM = document.getElementById('div_id_age_m');
        const age=document.getElementById('id_age')
        if (checkbox.checked) {
            divJob.classList.add('hidden');
            marriageState.value='مجرد'
            divMarriage.classList.add('hidden');
            divAgeM.style.display='block';
            if (age.value > 20) {
                age.value=10
            }
        } else {
            divJob.classList.remove('hidden');
            divMarriage.classList.remove('hidden');
            divAgeM.style.display='none'

        }
    };
    document.addEventListener('DOMContentLoaded', function() {
        TogglePediId();
        const checkbox = document.getElementById('id_is_pedi');
        checkbox.addEventListener('change', TogglePediId);
    });
</script>

<script>
    document.addEventListener("DOMContentLoaded", AddWZScore());

    function AddWZScore() {
        const isPediCheckbox = document.getElementById('id_is_pedi');
        const labelForPmh = document.querySelector('label[for="id_pmh"]');
    
        labelForPmh.insertAdjacentHTML('afterend', `
            <span id="toggle-WZS" style="">Calculate Z-Score</span>
            <div id='pmhHelpBox' dir='ltr' style=>
            <p dir="rtl" style="font-size: 14px; color:#999;">برای دسترسی به تمام ماشین‌حساب‌ها به <a href="{% url 'calculus_main' %}">این صفحه</a> مراجعه کنید.</p>
            <div style='display: inline-block'>
            <label for="weight" style="display: none;">وزن (kg):</label>
            <input type="number" id="weight" name="weight" min="0.5" max="300" step="0.1" value="10" required style="display: none;">
            <span id="calculate-button" class="calculateBtn">حساب کن</span>
            </div>
            <div style='display: inline-block'>
            <div id="answer-box"></div>
            <div id="add-to-pmh" class='addToPmh'>Add to PMH &darr;</div>
            </div></div>
        `);
        const pmhHelpBox = document.getElementById('pmhHelpBox')
    
        const calculateButton = document.getElementById('calculate-button');
        const toggleWZSBtn = document.getElementById('toggle-WZS');
        const answerBox = document.getElementById('answer-box');
        const addToPmhButton = document.getElementById('add-to-pmh');
        const weightInput = document.getElementById('weight');
        const weightLabel = document.querySelector('label[for="weight"]');
        const resultElement = answerBox;
    
        let zScore = null;
    
        isPediCheckbox.addEventListener('change', function() {
            const isChecked = isPediCheckbox.checked;
            toggleWZSBtn.style.display = isChecked ? 'inline-block' : 'none'; // Show toggle span only
            pmhHelpBox.style.display = 'none';
            addToPmhButton.style.display = 'none';
            calculateButton.style.display = 'none';
            weightLabel.style.display = 'none';
            weightInput.style.display = 'none';
            answerBox.style.display = 'none';
        });
    
        toggleWZSBtn.addEventListener('click', function() {
    
            const isVisible = weightLabel.style.display === 'inline';
            pmhHelpBox.style.display = isVisible ? 'none' : 'block';
            weightLabel.style.display = isVisible ? 'none' : 'inline';
            weightInput.style.display = isVisible ? 'none' : 'inline';
            calculateButton.style.display = isVisible ? 'none' : 'inline-block';
        });
    
        // Calculate Z-score
        calculateButton.addEventListener('click', function() {
            var ageY = parseFloat(document.getElementById('id_age').value);
            var ageM = parseFloat(document.getElementById('id_age_m').value);
            var gender_fa = document.getElementById('id_gender').value; // Gender
            var gender = '0';
            if (gender_fa == 'آقا') {
                gender = '1';
            } else if (gender_fa == 'خانم') {
                gender = '2';
            }
            var weight = parseFloat(document.getElementById('weight').value);
    
            // Validate inputs
            if (isNaN(ageY) || isNaN(ageM) || isNaN(weight)) {
                resultElement.textContent = 'Error: Please enter valid numbers for age and weight.';
                resultElement.style.background = 'red';
                return;
            }
    
            var totalAgeMonths = ageY * 12 + ageM;
            calculateButton.style.pointerEvents = 'none';
            calculateButton.style.opacity = '0.5';
            resultElement.textContent = 'Calculating...';
            resultElement.style.background = 'none';
    
            fetch(`../../calculus/calculi/pedi_w_zscore/?gender=${gender}&age_months=${totalAgeMonths}&weight=${weight}`)
                .then(response => {
                if (!response.ok) {
                    // Parse the response body as JSON to extract the error message
                    return response.json().then(errorData => {
                        // Throw an error with the message from the API
                        throw new Error(`${errorData.error}`);
                    });
                }
                    return response.json();
                })
                .then(data => {
                    resultElement.textContent = `Z-Score: ${data.z_score}, Percentile: ${data.percentile}`;
                    resultElement.style.background = 'linear-gradient(90deg, #4CAF50, #2196F3)'; // Gradient for success
                    resultElement.style.display = 'inline-block';
                    addToPmhButton.style.display = 'inline-block';
                    zScore = data.z_score;
                    percentile=data.percentile
                })
                .catch(error => {
                    resultElement.textContent = `Error: ${error.message}`;
                    resultElement.style.background = 'red';
                    resultElement.style.display = 'inline-block';
                    addToPmhButton.style.display = 'none';
    
    
                })
                .finally(() => {
                    calculateButton.style.pointerEvents = 'auto';
                    calculateButton.style.opacity = '1';
                });
        });
    
        // Add Z-score to PMH
        addToPmhButton.addEventListener('click', function() {
            if (zScore !== null) {
                const pmhTextarea = document.getElementById('id_pmh');
                if (pmhTextarea) {
                    pmhTextarea.value += `Weight: ${weight.value} kg\n(Z-Score: ${zScore}, Percentile: ${percentile})\n`;
                }
            }
        });
    };

</script>
    
{% endblock content %}

{% block edel %}
    <a href="{% url 'doc_detail' 2%}" class="btn btn-warning" style="width: 75px;">آموزش</a>
    <button dir="ltr" class="btn btn-success" type="submit" onclick="document.getElementById('save').click()" style="margin: 0 5px; width: 75px;">ثبت</button>
{% endblock edel%}
