{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} | Cases | Hx{% endblock title %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="pad-15">
<h1>کیس جدید</h1>

<form action="" method="post">{% csrf_token %}
<div class="createForm" autocomplete="off">
    {{ form|crispy }}
</div>
<details class="pad-15" style="margin:10px">
    <summary style="font-size:16px; font-weight:600;">
            راهنمای افزودن تصاویر
    </summary>
     آموزش این عمل در بخش Blog مطرح شده است. به صورت خلاصه، دو راه دارید. یکی اینکه پس از ثبت مطلب (Submit) در صفحۀ تایید ثبت شدن مطلب، بر روی لینک کلیک کنید و تصاویر را اضافه کنید. دیگری اینکه پس از تایید مطلب توسط وبسایت و انتشار آن، به صفحۀ شرح حال بروید و در با کلیک بر روی لینک بخش Other Data، تصاویر را اضافه کنید. هردوی این پیوندها شما را به آدرس زیر هدایت می‌کنند. <br/>
        <b>medepartout.ir/cases/hx/YOUR-Hx-LINK/add-image</b>
</details>
<button class="btn btn-success ml-2" type="submit" id="save" >Submit</button>
</form>
<p>جستار شما پس از تایید توسط سردبیر به نمایش درخواهد آمد.</p>
</div>
{% endblock content %}





