{% extends "base.html" %}
{% load static %}
{% load my_tags %}
{% block title %} | {{case.title}}{%endblock title%}
{% block desc %}شرح حالی از {{ case.author.first_name }} {{ case.author.last_name }}{% endblock desc%}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/style_hx.css' %}">

<style>
.content {
    display: none;
    font-size:24px;
    min-height:55vh;
}
.content b{
    font-size:26px;
}
h3{
    font-size:48px;
    text-align:center
}
.content .ros-phe-ttl-ppr{font-size:30px;}
</style>
<div class="pad-15">
    {% if case.visible %}
<div class="paper" style="min-height:60vh">
    <div class="spanTwo">
            <div id="ID" class="content infoTable spanTwo">
                <div class="cell"> جنسیت: <b>{{ case.gender }}</b> </div> 
                <div class="cell"> وضعیت زناشویی: <b>{{ case.marriage }}</b> </div> 
                <div class="cell"> پیشه: <b>{{ case.job }}</b> </div>
                <div class="cell"> محل مراجعه: <b>{{ case.location }}</b> </div>
                <hr/ class="myHR" style="grid-column: span 5;">
                <div class="cell"><b>{{ case.age }}</b> ساله </div>
                <div class="cell">منبع شرح حال: <b>{{ case.source }}</b> </div>
                <div class="cell"> محل زندگی: <b>{{ case.dwelling }}</b> </div>
                <div class="cell"> میزان قابل اعتماد بودن: <b>{{ case.reliability }}</b>/5</div>
            </div>
            <div id="CC" class="hx spanTwo content"><h3><b>CC: </b>{{ case.cc }}</h3></div>

            <div id="PI" class="hx content"><b>PI: </b>{{ case.pi|linebreaks }}</div>

            <div id="PMH" class="hx content"><b>PMH: </b>{{ case.pmh|linebreaks }}</div>
            
            <div id="Drugs" class="hx content">
            {% if case.drg %}
            <b>Drugs: </b>{{ case.drg|linebreaks }}
            {% else %}
            <p style="margin:20px">بیمار دارو یا مادۀ ویژه‌ای مصرف <u>نمی‌کند</u>.</p>
            {% endif %}
            </div>

            <div id="SH" class="hx content">
            {% if case.sh %}
            <b>SH: </b>{{ case.sh|linebreaks }}
            {% else %}
            <p style="margin:20px">بیمار Social Historyای را ذکر <u>نمی‌کند</u>.</p>
            {% endif %}
            </div>
        
            <div id="FH" class="hx content">
            {% if case.fh %}
            <b>FH: </b>{{ case.fh|linebreaks }}
            {% else %}
            <p style="margin:20px">بیمار Family Historyای را ذکر <u>نمی‌کند</u>.</p>
            {% endif %}
            </div>
            
            <div id="ROS" class="hx content"><b>Review of Systems:</b> <br/><div class="twoColumnar">{{ case.ros|emphasize|safe}}</div></div>  
            <div id="PE" class="hx content"><b>Physical Examination:</b> <br/>{{ case.phe|emphasize|safe}}</div>
            <div id="Summary" class="hx content" style="background-color:#ffd"><b>Summary: </b>{{ case.summary|linebreaks }}</div>
            {% comment %} <div class="hx"><br/>{{ case.ddx }}</div> {% endcomment %}
            <div id="dDx" class="hx content">
                <b>Diffrential Dx:</b>
                <p>{{ case.ddx|linebreaks}}</p>
            </div>

            <div id="Action" class="hx content"><b>Action:</b> <br/>{{ case.act|linebreaks }}</div>
            <div id="OD" class="hx content"><b>Other Data: </b><br/>
                <div style="padding:5px;">
                    <p style="font-size:18px;">{{ case.dat|linebreaks }}</p>
                    {%for img in case.imagecase_set.all %}
                    {% comment %} {%if img.verified %} {% endcomment %}
                    <div class="m-2" style="background-color:#eee; border-radius:10px; max-width:220px; display:inline-block">
                    <a href="{{img.image.url}}" target="_blank">
                        <img src="{{img.image.url}}" style="border-radius:10px;" width="220" alt="{{img.text}}"/>
                    </a>
                    <p style="font-size:16px; padding:5px">{{img.text}}</p>
                    </div>
                    {% comment %} {% endif %} {% endcomment %}
                    {% endfor%}
                </div>
            </div>

    </div>
</div>
</div>

<div dir="ltr" class="pad-15">
    <button onclick="showDiv('ID')" class="btn btn-outline-info m-1">ID</button>
    <button onclick="showDiv('CC')" class="btn btn-outline-info m-1">CC</button>
    <button onclick="showDiv('PI')" class="btn btn-outline-info m-1">PI</button>
    <button onclick="showDiv('PMH')" class="btn btn-outline-info m-1">PMH</button>
    <button onclick="showDiv('SH')" class="btn btn-outline-info m-1">SH</button>
    <button onclick="showDiv('FH')" class="btn btn-outline-info m-1">FH</button>
    <button onclick="showDiv('ROS')" class="btn btn-outline-info m-1">ROS</button>
    <button onclick="showDiv('PE')" class="btn btn-outline-info m-1">PE</button>
    <button onclick="showDiv('Drugs')" class="btn btn-outline-info m-1">Drugs</button>
    <button onclick="showDiv('Summary')" class="btn btn-outline-info m-1">Summary</button>
    <button onclick="showDiv('dDx')" class="btn btn-outline-info m-1">dDx</button>
    <button onclick="showDiv('Action')" class="btn btn-outline-info m-1">Action</button>
    <button onclick="showDiv('OD')" class="btn btn-outline-info m-1">Other Data</button>
    <a href="graphs" target="_blank" class="btn btn-outline-secondary">See Lab Data</a>

</div>


<script>
    window.onload = function() {
        document.getElementById('dropup-toggle').style.display = 'none';
    };

    function showDiv(divId) {
        // Hide all content divs
        var contentDivs = document.getElementsByClassName('content');
        for (var i = 0; i < contentDivs.length; i++) {
            contentDivs[i].style.display = 'none';
        }
        // Show the selected div
        document.getElementById(divId).style.display = 'block';
    }
</script>

{%else%}
<div style="min-height: 80vh; padding: 30px 10px; font-size:20px">
<p>برای دسترسی به حالت ارائه، باید شرح‌حال خود را از این <a href="{% url 'hx_public' case.slug%}">لینک</a> یا <a href="{% url 'self_user_cases'%}">پنل کاربری</a> خود همگانی (پابلیک) کنید.</p>
</div>
{%endif%}
{% endblock content %}
