{% extends "base.html" %}
{%load humanize%}
{% load static %}
{% block title %}Picasso{% endblock title %}
{% block content %}
<div id="picasso" class=''>
    <div class="hxTitle">
        <h2 style="font-weight:800">PICASSO</h2>
        <p>Cases in Picture</p>
    </div>
    <hr style="color:#000"/>
{% for pica in picasso_list reversed %}
{% if pica.verified and pica.slug %}

<div class="imageCardLight">
    <img src="{{ pica.image.url }}" width = '300' class="imgThumbnail" alt="{{pica.title}}"/>
    <div class="imgTitleLight">
        <a href="{% url 'picasso_detail' pica.slug %}">
            <h3>{{ pica.title }}</h3>
            <p class="desc">{{ pica.description }}</p>
            <p class="authorLight">توسط {{ pica.author.first_name }} {{ pica.author.last_name }} 
                {%if pica.author.degree%} ({{ pica.author.degree }}) {%endif%}
            {{ pica.date_created|naturaltime}}
            </p>
        </a>
    </div>
</div>
<hr style="color:#000"/>
    
{% endif %}
{% endfor %}
<div class="down">
    <br/>
    <a href="{% url 'cases_main'%}">
    <h5 dir="ltr" style="font-weight:600"> &#9664; Back to Cases</h5>
    </a>
</div>
</div>
{% endblock content %}
