{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}| Add Graph{%endblock title%}
{% block desc %}افزودن نمودار و داده‌های آزمایشگاهی{% endblock desc %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<style>
    .preview{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    @media(max-width:800px){
        .preview{
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
    }
#edel{
    right: 20px;
    left: auto;
}
</style>
<div class="pad-15" dir="ltr">
    <h1>New Graph</h1>

    <form action="" method="post">{% csrf_token %}
    <div class="createForm" autocomplete="off">
        {{ form|crispy }}
    </div>
    <button class="btn btn-success ml-2" type="submit" id="save" >Submit</button>
    </form>

    <button class="btn btn-primary ml-2 mt-2" id="refresh-btn">Preview</button>

<div class="preview" dir="ltr">
    <div id="chart-container" style='display: none'>
        <canvas id="myChart" style="width: 400px; height: 200px;"></canvas>
    </div>
    <div id="table-container" style="display: none;">
        <table id="data-table">
            <thead>
                <tr>
                    <th>Label</th>
                    <th>Data</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'scripts/Chart_Maker.js' %}"></script>

{% endblock content %}

{% block edel %}
    <a href="{% url 'doc_detail' 1%}" class="btn btn-warning">آموزش</a>
{% endblock edel%}
