{% extends "base.html" %}
{% load static %}
{% block imports %}
<link rel="stylesheet" href="{% static 'css/style_panel.css' %}">
<link rel="stylesheet" href="{% static 'css/style_calculi.css' %}">

<style>
    .eachItemUni{
        
    }
    @media(max-width:900px){

    }
    .panelMainContainer{
        margin: 20px;
        background-color: #FDFCF8;
        border-radius: 10px;
        border: 1px solid #000;
    }
    .seeAll{
        padding: 0.25rem 1rem;
        border-radius: 25px;
        display: inline-block;
        font-size: 16px;
        background: lightseagreen;
        border: 1px solid darkslategray;
        box-shadow: 0px 0px 0px 0.5px #eee9;
        color: white;
        margin-right: 0.5rem;
        width: auto;
    }
    .seeAll:hover{
        color: darkslategray;
        box-shadow: 0px 0px 1px 1px #eee9;
    }
    #quickBtnsBox{
        margin: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .otherPagesBtn{
        display: inline-block;
        background: linear-gradient(45deg, #fe8dc6, #fed1c7);
        box-shadow: 0 0 2px 1px #fed1c7ee;
        color: rgba(103, 10, 49, 1);
        font-weight: 400;
        border-radius: 20px;
        border: none;
        padding: 0.1rem 0.75rem;
        margin:0.25rem;
        transition: 0.3s;
        text-decoration: none;
        font-size: 14px
    }
    .otherPagesBtn:hover{
        box-shadow: 0 0 4px 2px #fed1c7;
        transform: translate(0, -1px);
        color:rgba(164, 19, 80, 1);
    }
    .moveBtn{
        position: relative;
        left: 2px;
        bottom: 2px;
    }
    .eachItem{
        grid-template-rows: 1fr;
    }
    .pageEditBtn{
        font-size: small;
        font-weight: 400;
        color: #666 !important;
    }
    .editBtnDiv{
        position: relative;
    }
    #fade2 {
        opacity: 0;
        transition: opacity 0.5s;
    }
    .editBtnDiv:hover #fade2 {
        opacity: 1;
    }
    .tooltip-text2{
        position: absolute;
        left: -10px;
        padding: 10px 15px 10px 15px;
        width: 180px;
    }
    @media (max-width: 900px) and (min-width:450px) {
        .courseTitle {
            grid-column: span 2;
        }
    }
    @media (max-width: 550px){
        .courseBtn{
            width: max-content;
        }
    }
    @media (max-width: 450px){
        .moveBtn{
            left: 7px;
            bottom: 7px;
        }
        .courseBtn{
            grid-column: span 4;
            width: -webkit-fill-available;
        }
    }
</style>
{% endblock imports %}

{% block content %}

<div id="quickBtnsBox">
    <a class="otherPagesBtn" href="{% url 'self_user_cases'%}">
        کیس‌های من
    </a>
    <a class="otherPagesBtn" href="{% url 'self_user_courses'%}">
        دوره‌های من
    </a>
    <a class="otherPagesBtn" href="{% url 'favorite_calculus'%}">
        ماشین‌حساب‌های من
    </a>
    <a class="otherPagesBtn" href="{% url 'change_user_info'%}">
        ویرایش اطلاعات من
    </a>
    <a class="otherPagesBtn" href="{% url 'password_change'%}">
        تغییر گذرواژه
    </a>
</div>

{% if uni_cases %}
<div class="panelMainContainer">
    <div id="panelContTitle" style="text-align: right;"><span>لیست شرح حال‌های دانشگاهی شما</span>
            <a href="{% url 'self_user_unicases' %}" class="itemBTN seeAll">مشاهدۀ تمام موارد</a>
    </div>
    <div id="panelContItems">
        {% for hx in uni_cases %}
        <div class="eachItem eachItemUni">
            <div class="title">
                <h4>
                    <a href="{% url 'hx_detail' hx.slug%}">{{hx.title}}</a>
                    {% if hx.get_status != "Verified" %}
                    <a href="{% url 'unicase_page' hx.slug 'cc_id'  %}" class="pageEditBtn">ویرایش صفحه‌ای</a>
                    {% endif %}
                </h4>
                <span class="tooltip-text" id="fade">{{hx.cc}}</span>
            </div>
            <span class="date">{{hx.date_created|date:"d M"}}</span>
            {% if hx.get_status != "Verified" %}
                <form method="post" action="{% url 'toggle_case_done' hx.slug %}" class="d-inline itemBTN" style="border:none; box-shadow: none;">
                    {% csrf_token %}
                    <button type="submit" class="btn itemBTN btn-sm {% if hx.done %}btn-success{% else %}btn-danger{% endif %} moveBtn">
                        {{ hx.done|yesno:"Complete,Incomplete" }}
                    </button>
                </form>
            {%else%}
                <img src="{% static "images/buttons/verified_icon.png" %}" width="40" class="itemBTN" style="width: auto; border-radius: 0; box-shadow: none;"/>
            {% endif %}
            <a href="{%url 'hx_public' hx.slug %}" class="itemBTN public">{{ hx.get_status }}</a>
            <div class="editBtnDiv itemBTN edit">
                {% if hx.get_status != "Verified" %}
                <a href="{% url 'hx_edit' hx.slug %}" style="color: inherit; text-decoration: inherit;">ویرایش</a>
                <span class="tooltip-text tooltip-text2" id="fade2">به همراه فیلدهای اضافه</span>
                {%else%}
                <span></span>
                {% endif %}
            </div>




            <a href="{% url 'hx_delete' hx.slug %}" class="itemBTN delete">پاک کردن</a>
        </div>
        {% endfor %}

    </div>
</div>
{% endif %}
<div>
    <div class="panelMainContainer">
        <div id="panelContTitle">لیست شرح حال‌های شما 
            <a href="{% url 'self_user_cases' %}" class="itemBTN seeAll">مشاهدۀ تمام موارد</a>
        </div>
        {% if cases %}
        <div id="panelContItems">
            {% for hx in cases %}
            <div class="eachItem">
                <div class="title">
                    <h4><a href="{% url 'hx_detail' hx.slug%}">{{hx.title}}</a></h4>
                    <span class="tooltip-text" id="fade">{{hx.cc}}</span>
                </div>
                <span class="date">{{hx.date_created|date:"d M"}}</span>
                {% if hx.visible %}
                    <a href="{%url 'hx_public' hx.slug %}" class="itemBTN public">Public</a>
                {% else %}
                    <a href="{%url 'hx_public' hx.slug %}" class="itemBTN private">Private</a>
                {% endif %}
                <a href="{% url 'hx_presentation' hx.slug %}" class="itemBTN prsnt">ارائه</a>
                <a href="{% url 'hx_edit' hx.slug %}" class="itemBTN edit">ویرایش</a>
                <a href="{% url 'hx_delete' hx.slug %}" class="itemBTN delete">پاک کردن</a>
            </div>
            {% endfor %}

        </div>
        {% else %}
            <p class="noHx">شما هنوز شرح‌حالی ثبت نکرده‌اید.</p>
            <p class="noHx">برای نوشتن شرح حال بر روی <a href="{%url 'hx_new' %}" class="itemBTN public write">نوشتن</a> بزنید.</p>
        {% endif %}
    </div>
    <div class="panelMainContainer">
    <div id="panelContTitle">لیست دوره‌های ثبت نامی شما</div>
    {% if courses %}
    <div id="panelContItems">
        {% for course_reg in courses %}
        <div class="eachItem">
            <div class="title courseTitle">
                <h4>{{course_reg.course.title}}</h4>
                <span class="tooltip-text" id="fade">{{course_reg.course.professor.get_name}}</span>
            </div>
            <span class="date">{{course_reg.joined_at|date:"d M"}}</span>
            <a href="{% url 'course_detail' course_reg.course.id%}" class="itemBTN edit courseBtn">صفحۀ دوره</a>
            <span></span>
            <span></span>
            <span></span>
        </div>
        {% endfor %}

    </div>
    {% else %}
        <p class="noHx">شما هنوز در دوره‌ای ثبت نام نکرده‌اید.</p>
    {% endif %}
</div>
    <div class="" style="padding: 2rem;">
        <h2 style="border-bottom: solid 1px #0002; padding-bottom: 1rem;">ماشین‌حساب‌های مورد علاقۀ من <span style='color: #c33'>&#x2764;</span></h2>
        
        {% if liked_calculi %}
            <div class="" style="margin: 1rem; line-height: 3.5;">
                {% for calculus in liked_calculi %}
                    <a href="../calculi/{{calculus.link}}_page" class="caLikk">{{ calculus.html_title }}</a> <span style="color:#999; font-size:12px">| {{ calculi.category }}</span><br/>
                {% endfor %}
            </div>      
        {% else %}
            <div id="noFave">
                You haven't liked any calculators yet. 
            </div>
        {% endif %}
        <div style="margin-top: 2rem; margin-left: 1rem; line-height: 2;">
            <a href="{% url 'calculus_main' %}" id="browseCalc">بخش ماشین‌حساب‌ها</a> را بگردید!
        </div>
    </div>
</div>
{% endblock content %}