{% extends "base.html" %}
{% load static %}
{% load my_tags %}
{% block title %} | User Panel{%endblock title%}
{% block desc %}تمام شرح‌حال‌های خود را اینجا ببینید و مدیریت کنید.{% endblock desc%}
{% block imports %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/style_base.css' %}">
<link rel="stylesheet" href="{% static 'css/style_panel.css' %}">
{% endblock imports %}

{% block content %}

<div id="panelMainContainer">
    <div id="panelContTitle">لیست شرح‌حال‌های شما</div>
    {% if hxs %}
    <div id="panelContItems">
        {% for hx in hxs %}
        <div class="eachItem">
            <div class="title">
                <h4><a href="{% url 'hx_detail' hx.slug%}">{{hx.title}}</a></h4>
                <span class="tooltip-text" id="fade">{{hx.cc}}</span>
            </div>
            <span class="date">{{hx.date_created|date:"d M"}}</span>
            {% if hx.visible %}
                <a href="{%url 'hx_public' hx.slug %}" class="itemBTN public">Public</a>
            {% else %}
                <a href="{%url 'hx_public' hx.slug %}" class="itemBTN private">Private</a>
            {% endif %}
            <a href="{% url 'hx_presentation' hx.slug %}" class="itemBTN prsnt">ارائه</a>
            <a href="{% url 'hx_edit' hx.slug %}" class="itemBTN edit">ویرایش</a>
            <a href="{% url 'hx_delete' hx.slug %}" class="itemBTN delete">پاک کردن</a>
        </div>
        {% endfor %}

    </div>
    {% else %}
        <p class="noHx">شما هنوز شرح‌حالی ثبت نکرده‌اید.</p>
        <p class="noHx">برای نوشتن شرح حال بر روی <a href="{%url 'hx_new' %}" class="itemBTN public write">نوشتن</a> بزنید.</p>
    {% endif %}
</div>
{% endblock content %}
