{% extends "base.html" %}
{% load static %}
{% load my_tags %}
{% block title %} | User Panel{%endblock title%}
{% block desc %}تمام شرح‌حال‌های خود را اینجا ببینید و مدیریت کنید.{% endblock desc%}
{% block imports %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/style_base.css' %}">
<link rel="stylesheet" href="{% static 'css/style_panel.css' %}">
<style>
        .eachItem{
        grid-template-rows: 1fr;
    }
    .pageEditBtn{
        font-size: small;
        font-weight: 400;
        color: #666 !important;
    }
    .editBtnDiv{
        position: relative;
    }
    #fade2 {
        opacity: 0;
        transition: opacity 0.5s;
    }
    .editBtnDiv:hover #fade2 {
        opacity: 1;
    }
    .tooltip-text2{
        position: absolute;
        left: -10px;
        padding: 10px 15px 10px 15px;
    }
</style>
{% endblock imports %}

{% block content %}

<div id="panelMainContainer">
    <div id="panelContTitle">لیست تمام شرح‌حال‌های دانشگاهی شما</div>
    {% if hxs %}
    <div id="panelContItems">
        {% for hx in hxs %}
        <div class="eachItem eachItemUni">
            <div class="title">
                <h4>
                    <a href="{% url 'hx_detail' hx.slug%}">{{hx.title}}</a>
                    {% if hx.get_status != "Verified" %}
                    <a href="{% url 'hx_edit' hx.slug %}" class="pageEditBtn">ویرایش کلی</a>
                    {% endif %}
                </h4>
                <span class="tooltip-text" id="fade">{{hx.cc}}</span>
            </div>
            <span class="date">{{hx.date_created|date:"d M"}}</span>
            {% if hx.get_status != "Verified" %}
                <form method="post" action="{% url 'toggle_case_done' hx.slug %}" class="d-inline itemBTN" style="border:none; box-shadow: none;">
                    {% csrf_token %}
                    <button type="submit" class="btn itemBTN btn-sm {% if hx.done %}btn-success{% else %}btn-danger{% endif %} moveBtn">
                        {{ hx.done|yesno:"Complete,Incomplete" }}
                    </button>
                </form>
            {%else%}
                <img src="{% static "images/buttons/verified_icon.png" %}" width="40" class="itemBTN" style="width: auto; border-radius: 0; box-shadow: none;"/>
            {% endif %}
            {% if hx.get_status == 'Student' %}
                <a href="{% url 'case_messages' hx.slug %}" class="itemBTN private">منتظر شما</a>
            {% elif hx.get_status == 'Incomplete' %}
                <span class="itemBTN private">ناکامل</span>
            {% elif hx.get_status == 'Professor' %}
                <span class="itemBTN public">منتظر استاد</span>
            {% elif hx.get_status == 'Verified' %}
                <span class="itemBTN public">تایید شده</span>
            {% endif %}

            <div class="editBtnDiv itemBTN edit">
                {% if hx.get_status != "Verified" %}
                <a href="{% url 'unicase_page' hx.slug 'cc_id'  %}" style="color: inherit; text-decoration: inherit;">ویرایش</a>
                <span class="tooltip-text tooltip-text2" id="fade2">صفحه‌به‌صفحه</span>
                {%else%}
                <span></span>
                {% endif %}
            </div>

            <a href="{% url 'hx_delete' hx.slug %}" class="itemBTN delete">پاک کردن</a>
        </div>
        
        {% endfor %}

    </div>
    {% else %}
        <p class="noHx">شما هنوز شرح‌حالی ثبت نکرده‌اید.</p>
        <p class="noHx">برای نوشتن شرح حال بر روی <a href="{%url 'hx_new' %}" class="itemBTN public write">نوشتن</a> بزنید.</p>
    {% endif %}
</div>
{% endblock content %}
